{% extends "base-two.html" %}
{% load static %}
{% block title %}
STYF
{% endblock title %}

{% block content %}
                    
            <!-- header -->
            <!-- page-header -->
            <div class="page-title-wrap typo-white">
                <div class="page-title-wrap-inner section-bg-img" data-bg="{% static 'images/img-10.jpg' %}">
					<span class="theme-overlay"></span>
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <div class="page-title-inner">
									<div id="breadcrumb" class="breadcrumb margin-bottom-10">
                                        <a href="index.html" class="theme-color">Home</a>
                                        <span class="current">STYF</span>
                                    </div>
                                    <h1 class="page-title mb-0">San Thome Youth Front</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page-header -->
            <!-- Page Content -->
            <div class="content-wrapper pad-none">
                <div class="content-inner">
                    <!-- Portfolio Single Section -->
                    <section id="single-portfolio" class="single-portfolio">
                        <div class="container">
                            <div class="single-portfolio-wrap">
                                <!-- Row -->
                                <div class="row">
                                    <!-- Col -->
                                    <div class="col-md-12">
                                        <!-- portfolio img -->
                                        <div class="zoom-gallery mb-5">
                                            <div class="portfolio-thumb relative">
                                                <a class="popup-img" href="{% static 'images/portfolio/San Thome Youth Front.jpg' %}" title="Single Portfolio">
                                                    <img src="{% static 'images/portfolio/San Thome Youth Front.jpg' %}" class="img-fluid single-portfolio-img" width="1170" height="694" alt="portfolios-img" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Col -->
                                </div>
                                <!-- Row -->
                                <!-- Row 2 -->
                                <div class="row pt-3">
                                    <!-- Col -->
                                    <div class="col-lg-8">
                                        <!-- portfolio-info-wrap -->
                                        <div class="portfolio-info-wrap">
                                            <div class="portfolio-content pad-bottom-30">                                                
                                                <p>San Thome Youth Front (STYF) from St Thomas Forane Church, Jallahalli has proudly served as a thriving church youth group for the past three decades. Committed to nurturing spiritual growth and fostering social development, STYF has been an integral part of the church community. Rooted in faith, fellowship, and service, STYF offers a diverse range of activities, including regular meetings, vibrant fests, and engaging community outreach programs. These fests serve as meaningful platforms for spiritual reflection, cultural exchange, and fostering lasting connections. With a mission to inspire and empower the youth, STYF continues to guide young individuals on their faith journey and encourage active participation within the church and the broader society. </p>
                                            </div>
                                        </div>
                                        <!-- portfolio-info-wrap -->                                     
                                    </div>
                                     <!-- Col -->
                                    <!-- Sidebar -->
                                     <!-- Col -->
                                    <div class="col-lg-4">
                                        <!-- Portfolio Meta Wrap -->
                                        <div class="portfolio-meta-wrap portfolio-right mt-res-5">
                                            <!-- Portfolio Meta -->
                                            <!-- about wrap -->
                                                        <div class="about-wrap relative">
                                                            <div class="about-wrap-inner">
                                                                <!-- about details -->
                                                                <div class="about-wrap-details">
                                                                    <!-- about button -->
                                                                    <div class="text-center">
                                                                        <div class="about-img">
                                                                            <img src="{% static 'images/portfolio/styflogo.png' %}" class="" alt="about-img">
                                                                            
                                                                        </div>
                                                                        <!-- .col -->
                                                                    </div>
                                                                </div>
                                                                <!-- about details End-->
                                                            </div>
                                                        </div>
                                                        <!-- about wrap end -->
                                            <!-- Portfolio Meta-->
                                        </div>
                                        <!-- Portfolio Meta Wrap-->
                                    </div>
                                     <!-- Sidebar -->
                                </div>
                                <!-- Row 2 -->
                                <!-- Team Section -->
					<section id="team-section" class="team-section pad-top-95 pad-bottom-90">
						<div class="container">
							<!-- Row -->
							<div class="row">
								<div class="offset-md-2 col-md-8">
									<div class="title-wrap text-center">
										<div class="section-title">
											<span class="sub-title theme-color text-uppercase">Our Team</span>
											<h2 class="section-title margin-top-5">STYF Council Members</h2>
											<span class="border-bottom center"></span>											
										</div>
									</div>
								</div>
								<!--Team Main Slider-->
								<div class="owl-carousel team-main-wrapper" data-loop="1" data-nav="0" data-dots="1" data-autoplay="1" data-autoplaypause="1" data-autoplaytime="5000" data-smartspeed="1000" data-margin="30" data-items="3" data-items-tab="2" data-items-mob="1">
									<!--Item-->
									<div class="item">
										<div class="team-style-1">
											<!--Team Inner-->										
											<div class="team-inner margin-bottom-20">												
												<div class="team-thumb mb-0 relative">
													<!--Team Overlay-->
													<div class="team-overlay"></div>
													<img src="{% static 'images/portfolio/STYF team/1.jpg' %}" class="img-fluid thumb w-100" width="480" height="485" alt="team-img" />
													<div class="team-overlay-details top-left-overlay typo-white text-center">
														<div class="social-icons">
															<a href="#"><span class="ti-facebook"></span></a>
															<a href="#"><span class="ti-twitter"></span></a>					
															<a href="#"><span class="ti-instagram"></span></a>	
															<a href="#"><span class="ti-linkedin"></span></a>									
														</div>
													</div>
												</div>												
												<div class="team-details text-center pad-20">
													<div class="team-name">
														<h3 class="mb-0"><a href="#" class="client-name typo-white">Rev. Fr. Joseph Thoompanal CMF</a></h3>
													</div>
													<div class="team-designation"><p class="mb-0"> STYF Director</p></div>
												</div>
											</div>
											<!--Team Inner Ends-->
										</div>
									</div>
									<!--Item Ends-->
                                    <!--Item-->
									<div class="item">
										<div class="team-style-1">
											<!--Team Inner-->										
											<div class="team-inner margin-bottom-20">												
												<div class="team-thumb mb-0 relative">
													<!--Team Overlay-->
													<div class="team-overlay"></div>
													<img src="{% static 'images/portfolio/STYF team/2.jpg' %}" class="img-fluid thumb w-100" width="480" height="485" alt="team-img" />
													<div class="team-overlay-details top-left-overlay typo-white text-center">
														<div class="social-icons">
															<a href="#"><span class="ti-facebook"></span></a>
															<a href="#"><span class="ti-twitter"></span></a>					
															<a href="#"><span class="ti-instagram"></span></a>	
															<a href="#"><span class="ti-linkedin"></span></a>									
														</div>
													</div>
												</div>												
												<div class="team-details text-center pad-20">
													<div class="team-name">
														<h3 class="mb-0"><a href="#" class="client-name typo-white">Mr. George Vareed T</a></h3>
													</div>
													<div class="team-designation"><p class="mb-0">STYF Animator</p></div>
												</div>
											</div>
											<!--Team Inner Ends-->
										</div>
									</div>
									<!--Item Ends-->
                                    <!--Item-->
									<div class="item">
										<div class="team-style-1">
											<!--Team Inner-->										
											<div class="team-inner margin-bottom-20">												
												<div class="team-thumb mb-0 relative">
													<!--Team Overlay-->
													<div class="team-overlay"></div>
													<img src="{% static 'images/portfolio/STYF team/3.jpg' %}" class="img-fluid thumb w-100" width="480" height="485" alt="team-img" />
													<div class="team-overlay-details top-left-overlay typo-white text-center">
														<div class="social-icons">
															<a href="#"><span class="ti-facebook"></span></a>
															<a href="#"><span class="ti-twitter"></span></a>					
															<a href="#"><span class="ti-instagram"></span></a>	
															<a href="#"><span class="ti-linkedin"></span></a>									
														</div>
													</div>
												</div>												
												<div class="team-details text-center pad-20">
													<div class="team-name">
														<h3 class="mb-0"><a href="#" class="client-name typo-white">Jeffrin Thankachan</a></h3>
													</div>
													<div class="team-designation"><p class="mb-0">President</p></div>
												</div>
											</div>
											<!--Team Inner Ends-->
										</div>
									</div>
									<!--Item Ends-->
                                    <!--Item-->
									<div class="item">
										<div class="team-style-1">
											<!--Team Inner-->										
											<div class="team-inner margin-bottom-20">												
												<div class="team-thumb mb-0 relative">
													<!--Team Overlay-->
													<div class="team-overlay"></div>
													<img src="{% static 'images/portfolio/STYF team/4.jpg' %}" class="img-fluid thumb w-100" width="480" height="485" alt="team-img" />
													<div class="team-overlay-details top-left-overlay typo-white text-center">
														<div class="social-icons">
															<a href="#"><span class="ti-facebook"></span></a>
															<a href="#"><span class="ti-twitter"></span></a>					
															<a href="#"><span class="ti-instagram"></span></a>	
															<a href="#"><span class="ti-linkedin"></span></a>									
														</div>
													</div>
												</div>												
												<div class="team-details text-center pad-20">
													<div class="team-name">
														<h3 class="mb-0"><a href="#" class="client-name typo-white">Neetha Reji </a></h3>
													</div>
													<div class="team-designation"><p class="mb-0">Vice President</p></div>
												</div>
											</div>
											<!--Team Inner Ends-->
										</div>
									</div>
									<!--Item Ends-->
                                    <!--Item-->
									<div class="item">
										<div class="team-style-1">
											<!--Team Inner-->										
											<div class="team-inner margin-bottom-20">												
												<div class="team-thumb mb-0 relative">
													<!--Team Overlay-->
													<div class="team-overlay"></div>
													<img src="{% static 'images/portfolio/STYF team/5.jpg' %}" class="img-fluid thumb w-100" width="480" height="485" alt="team-img" />
													<div class="team-overlay-details top-left-overlay typo-white text-center">
														<div class="social-icons">
															<a href="#"><span class="ti-facebook"></span></a>
															<a href="#"><span class="ti-twitter"></span></a>					
															<a href="#"><span class="ti-instagram"></span></a>	
															<a href="#"><span class="ti-linkedin"></span></a>									
														</div>
													</div>
												</div>												
												<div class="team-details text-center pad-20">
													<div class="team-name">
														<h3 class="mb-0"><a href="#" class="client-name typo-white">Maria Sunny P</a></h3>
													</div>
													<div class="team-designation"><p class="mb-0">General Secretary</p></div>
												</div>
											</div>
											<!--Team Inner Ends-->
										</div>
									</div>
									<!--Item Ends-->
                                    <!--Item-->
									<div class="item">
										<div class="team-style-1">
											<!--Team Inner-->										
											<div class="team-inner margin-bottom-20">												
												<div class="team-thumb mb-0 relative">
													<!--Team Overlay-->
													<div class="team-overlay"></div>
													<img src="{% static 'images/portfolio/STYF team/6.jpg' %}" class="img-fluid thumb w-100" width="480" height="485" alt="team-img" />
													<div class="team-overlay-details top-left-overlay typo-white text-center">
														<div class="social-icons">
															<a href="#"><span class="ti-facebook"></span></a>
															<a href="#"><span class="ti-twitter"></span></a>					
															<a href="#"><span class="ti-instagram"></span></a>	
															<a href="#"><span class="ti-linkedin"></span></a>									
														</div>
													</div>
												</div>												
												<div class="team-details text-center pad-20">
													<div class="team-name">
														<h3 class="mb-0"><a href="#" class="client-name typo-white">Ciya Maria James </a></h3>
													</div>
													<div class="team-designation"><p class="mb-0">Secretary</p></div>
												</div>
											</div>
											<!--Team Inner Ends-->
										</div>
									</div>
									<!--Item Ends-->
                                    <!--Item-->
									<div class="item">
										<div class="team-style-1">
											<!--Team Inner-->										
											<div class="team-inner margin-bottom-20">												
												<div class="team-thumb mb-0 relative">
													<!--Team Overlay-->
													<div class="team-overlay"></div>
													<img src="{% static 'images/portfolio/STYF team/7.jpg' %}" class="img-fluid thumb w-100" width="480" height="485" alt="team-img" />
													<div class="team-overlay-details top-left-overlay typo-white text-center">
														<div class="social-icons">
															<a href="#"><span class="ti-facebook"></span></a>
															<a href="#"><span class="ti-twitter"></span></a>					
															<a href="#"><span class="ti-instagram"></span></a>	
															<a href="#"><span class="ti-linkedin"></span></a>									
														</div>
													</div>
												</div>												
												<div class="team-details text-center pad-20">
													<div class="team-name">
														<h3 class="mb-0"><a href="#" class="client-name typo-white">Gesmond George</a></h3>
													</div>
													<div class="team-designation"><p class="mb-0">Treasurer</p></div>
												</div>
											</div>
											<!--Team Inner Ends-->
										</div>
									</div>
									<!--Item Ends-->
                                    <!--Item-->
									<div class="item">
										<div class="team-style-1">
											<!--Team Inner-->										
											<div class="team-inner margin-bottom-20">												
												<div class="team-thumb mb-0 relative">
													<!--Team Overlay-->
													<div class="team-overlay"></div>
													<img src="{% static 'images/portfolio/STYF team/8.jpg' %}" class="img-fluid thumb w-100" width="480" height="485" alt="team-img" />
													<div class="team-overlay-details top-left-overlay typo-white text-center">
														<div class="social-icons">
															<a href="#"><span class="ti-facebook"></span></a>
															<a href="#"><span class="ti-twitter"></span></a>					
															<a href="#"><span class="ti-instagram"></span></a>	
															<a href="#"><span class="ti-linkedin"></span></a>									
														</div>
													</div>
												</div>												
												<div class="team-details text-center pad-20">
													<div class="team-name">
														<h3 class="mb-0"><a href="#" class="client-name typo-white">Joel S Thomas</a></h3>
													</div>
													<div class="team-designation"><p class="mb-0">Cultural  Secretary</p></div>
												</div>
											</div>
											<!--Team Inner Ends-->
										</div>
									</div>
									<!--Item Ends-->
                                    <!--Item-->
									<div class="item">
										<div class="team-style-1">
											<!--Team Inner-->										
											<div class="team-inner margin-bottom-20">												
												<div class="team-thumb mb-0 relative">
													<!--Team Overlay-->
													<div class="team-overlay"></div>
													<img src="{% static 'images/portfolio/STYF team/9.jpg' %}" class="img-fluid thumb w-100" width="480" height="485" alt="team-img" />
													<div class="team-overlay-details top-left-overlay typo-white text-center">
														<div class="social-icons">
															<a href="#"><span class="ti-facebook"></span></a>
															<a href="#"><span class="ti-twitter"></span></a>					
															<a href="#"><span class="ti-instagram"></span></a>	
															<a href="#"><span class="ti-linkedin"></span></a>									
														</div>
													</div>
												</div>												
												<div class="team-details text-center pad-20">
													<div class="team-name">
														<h3 class="mb-0"><a href="#" class="client-name typo-white">Amal Joy</a></h3>
													</div>
													<div class="team-designation"><p class="mb-0">Sports  Secretary</p></div>
												</div>
											</div>
											<!--Team Inner Ends-->
										</div>
									</div>
									<!--Item Ends-->
                                    <!--Item-->
									<div class="item">
										<div class="team-style-1">
											<!--Team Inner-->										
											<div class="team-inner margin-bottom-20">												
												<div class="team-thumb mb-0 relative">
													<!--Team Overlay-->
													<div class="team-overlay"></div>
													<img src="{% static 'images/portfolio/STYF team/10.jpg' %}" class="img-fluid thumb w-100" width="480" height="485" alt="team-img" />
													<div class="team-overlay-details top-left-overlay typo-white text-center">
														<div class="social-icons">
															<a href="#"><span class="ti-facebook"></span></a>
															<a href="#"><span class="ti-twitter"></span></a>					
															<a href="#"><span class="ti-instagram"></span></a>	
															<a href="#"><span class="ti-linkedin"></span></a>									
														</div>
													</div>
												</div>												
												<div class="team-details text-center pad-20">
													<div class="team-name">
														<h3 class="mb-0"><a href="#" class="client-name typo-white">Eby Francis </a></h3>
													</div>
													<div class="team-designation"><p class="mb-0">Councillor</p></div>
												</div>
											</div>
											<!--Team Inner Ends-->
										</div>
									</div>
									<!--Item Ends-->
                                    <!--Item-->
									<div class="item">
										<div class="team-style-1">
											<!--Team Inner-->										
											<div class="team-inner margin-bottom-20">												
												<div class="team-thumb mb-0 relative">
													<!--Team Overlay-->
													<div class="team-overlay"></div>
													<img src="{% static 'images/portfolio/STYF team/11.jpg' %}" class="img-fluid thumb w-100" width="480" height="485" alt="team-img" />
													<div class="team-overlay-details top-left-overlay typo-white text-center">
														<div class="social-icons">
															<a href="#"><span class="ti-facebook"></span></a>
															<a href="#"><span class="ti-twitter"></span></a>					
															<a href="#"><span class="ti-instagram"></span></a>	
															<a href="#"><span class="ti-linkedin"></span></a>									
														</div>
													</div>
												</div>												
												<div class="team-details text-center pad-20">
													<div class="team-name">
														<h3 class="mb-0"><a href="#" class="client-name typo-white">Tia Elizabeth Manoj</a></h3>
													</div>
													<div class="team-designation"><p class="mb-0">Councillor</p></div>
												</div>
											</div>
											<!--Team Inner Ends-->
										</div>
									</div>
									<!--Item Ends-->
                                    <!--Item-->
									<div class="item">
										<div class="team-style-1">
											<!--Team Inner-->										
											<div class="team-inner margin-bottom-20">												
												<div class="team-thumb mb-0 relative">
													<!--Team Overlay-->
													<div class="team-overlay"></div>
													<img src="{% static 'images/portfolio/STYF team/12.jpg' %}" class="img-fluid thumb w-100" width="480" height="485" alt="team-img" />
													<div class="team-overlay-details top-left-overlay typo-white text-center">
														<div class="social-icons">
															<a href="#"><span class="ti-facebook"></span></a>
															<a href="#"><span class="ti-twitter"></span></a>					
															<a href="#"><span class="ti-instagram"></span></a>	
															<a href="#"><span class="ti-linkedin"></span></a>									
														</div>
													</div>
												</div>												
												<div class="team-details text-center pad-20">
													<div class="team-name">
														<h3 class="mb-0"><a href="#" class="client-name typo-white">Aaron Joseph </a></h3>
													</div>
													<div class="team-designation"><p class="mb-0">Councillor</p></div>
												</div>
											</div>
											<!--Team Inner Ends-->
										</div>
									</div>
									<!--Item Ends-->
								</div>
								<!--Team Owl Slider-->
							</div>
							<!-- Row -->
						</div>
						<!-- Container -->
					</section>
					<!-- Team Section End -->
								
                            </div>
                            <!-- Portfolio Single Wrap -->
                        </div>
                    </section>
                    <!-- Portfolios Section End -->
                </div>
            </div>
        </div>
    <!-- .page-wrapper-inner -->
    </div>
    <!--page-wrapper-->
	{% endblock content %}