{% extends "base-two.html" %}
{% load static %}
{% block title %}
 Bishop Message
{% endblock title %}

{% block content %}
		<style>
				.container {
			width: 80%;
			margin: 0 auto;
			}

			.col-lg-6 {
			width: 50%;
			float: left;
			}

			.title-wrap {
			background-color: #ffffff;
			padding: 20px;
			border-radius: 10px; 
			box-shadow: 0 0 10px green;
			}

			.section-title {
			text-align: center;
			margin-bottom: 20px;
			}

			@media (max-width: 768px) {
			.col-lg-6 {
				width: 100%; /* Full width for smaller screens */
				float: none; /* Remove the float */
			}
			}
		</style>
            <div class="page-title-wrap typo-white">
                <div class="page-title-wrap-inner section-bg-img" data-bg="{% static 'images/base-two-main.JPG' %}">
					<span class="theme-overlay"></span>
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <div class="page-title-inner">
									<div id="breadcrumb" class="breadcrumb margin-bottom-10">
                                        <a href="index.html" class="theme-color">Home</a>
                                        <span class="current">History</span>
                                    </div>
                                    <h1 class="page-title mb-0">History</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page-header -->
            <!-- Page Content -->
            <div class="content-wrapper pad-none">
                <div class="content-inner">
                    <!-- About Section -->
                    <section id="section-about" class="section-about pad-bottom-none">
                        <div class="container">
                            <!-- Row -->
                            <div class="row d-flex align-items-center">
                                <!-- Col -->
                                <div class="col-lg-6">
                                    <!-- about wrap -->
                                    <div class="about-wrap relative">
                                        <div class="about-wrap-inner">
                                            <!-- about details -->
                                            <div class="about-wrap-details">
                                                <!-- about button -->
                                                <div class="text-center">
                                                    <div class="about-img">
                                                        <img src="{% static 'images/about-us/about-us-img.png' %}" class="" alt="about-img">
														<span class="sub-title theme-color text-uppercase">First church</span>
                                                    </div>
                                                    <!-- .col -->
                                                </div>
                                            </div>
                                            <!-- about details End-->
                                        </div>
                                    </div>
                                    <!-- about wrap end -->
                                </div>
                                <!-- .col -->
								<!-- Col -->
								
											<div class="col-lg-6">
												<div class="title-wrap margin-bottom-50">
													<div class="section-title">
														<span class="sub-title theme-color text-uppercase">About Us</span>
														<h2 class="section-title margin-top-5">History</h2>
														<span class="border-bottom"></span>
													</div>
													<div class="pad-top-15">
														
														<p class="margin-bottom-20">By the early seventies, a large number of Syro Malabar Catholics had settled down in Yeshwanthpur, Mathikere and Jalahalli areas of North Bangalore.  Their
															spiritual requirements were met by those priests in their own parishes.

															The Archbishop of Bangalore agreed for a Malayalam Mass and the first Mass was celebrated in Christ the king church on 9th Nov. 1975. Syro-Malabar Mass was celebrated since then.

															In 1981, Rev Fr Maria Louis accorded approval for Malayalam Mass in Fatima church once a month. The first Mass was celebrated there on 23rd Aug 1981.

															In Jan 1984, the community formed the “St. Thomas Catholic Association, Jalahalli” and conducted prayer meetings at various locations. The claretian congregation gave a lot of encouragement to the Syro Malabar Community.

															On the feast day of St. Thomas, 3rd July 1984 Bishop Jacob Thoomkuzhy blessed the endeavor of Syro Malabar Community to establish a parish of their own; and promised them all possible help. Rev Fr. George Nedumpalakunnel, the then Claretian provincial, offered the assistance of Rev Fr. Mathew Keechira in establishing a Syro Malabar parish in North Bangalore. BEL had provided a class room in their school for celebrating Holy Mass on Sundays, and the first Holy Mass was celebrated there on 8th July 1984.</p>
													</div>
												</div>
											</div>
                                <!-- Col -->
                            </div>
                          
                            <div class="row d-flex align-items-center">
								<!-- Col -->
                                <div class="col-lg-6">
                                    <div class="title-wrap margin-bottom-50">

                                        <div class="pad-top-15">
                                            <p class="margin-bottom-20">His Grace Most Rev.Dr. Alphonsus Mathias, archbishop of Bangalore, gave green
												signal to the new endeavor. Mar Jacob Thoomkuzhy, blessed the new chapel on 17th Feb, 1985. Rev. Fr. Mathew Keechira was appointed as the priest-in-charge.On 1st March 1989 it was raised to the status of a full fledged parish by His Grace Most Rev. Dr. Alphonsus Mathias.The parish is under the jurisdiction of Bangalore Archbishop. The services of Frs. George Thelliyankal and Joseph Areeckathundathil is also acknowledged sincerely as assisting priests.</p>
									   			Since then the faithful decided to construct a Church. The new Parish Priest Rev. Fr. Thomas Perikilakkatt, took up the case of conversion of land.

												Rev. Fr. George Kannanthanam was appointed as Parish Priest on 26th May, 1994 and a Church Construction Committee was constituted. One and a half acre of land was earmarked for the Church by the Claretian Congregation, where the present Church was constructed, and blessed by Major Archbishop Cardinal Antony Padiyara on 25th August 1996. Fr. Jacob Mundiyath extended his assistance to the parish for an year.

												Fr. Thomas Thanniyanickal took charge as the parish priest in 1998. His zeal to spread the Marian devotion among the faithful reached the culmination of the Marian grotto.

												Then in 2001 Fr Abraham Karoor took charge as the Parish Priest. Seeing the vastness of the church ecclesiastical boundary and the need to bifurcate the same a substation was built and then it was erected as a parish named SS. Joseph and Claret, Dasarahalli.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Col -->
                                <!-- Col -->
                                <div class="col-lg-6">
                                    <!-- about wrap -->
                                    <div class="about-wrap relative">
                                        <div class="about-wrap-inner">
                                            <!-- about details -->
                                            <div class="about-wrap-details">
                                                <!-- about button -->
                                                <div class="text-center">
                                                    <div class="about-img">
                                                        <img src="{% static 'images/about-us/about-us-img2.jpg' %}" class="" alt="about-img">
														<span class="sub-title theme-color text-uppercase">New church consecration</span>
                                                    </div>
                                                    <!-- .col -->
                                                </div>
                                            </div>
                                            <!-- about details End-->
                                        </div>
                                    </div>
                                    <!-- about wrap end -->
                                </div>
                                <!-- .col -->

                            </div>
                            <!-- Row -->
							<!-- Row -->
                            <div class="row d-flex align-items-center">
                                <!-- Col -->
                                <div class="col-lg-6">
                                    <!-- about wrap -->
                                    <div class="about-wrap relative">
                                        <div class="about-wrap-inner">
                                            <!-- about details -->
                                            <div class="about-wrap-details">
                                                <!-- about button -->
                                                <div class="text-center">
                                                    <div class="about-img">
                                                        <img src="{% static 'images/about-us/about-us-img3.jpg' %}" class="" alt="about-img">
														<span class="sub-title theme-color text-uppercase">First Holy mass</span>
                                                    </div>
                                                    <!-- .col -->
                                                </div>
                                            </div>
                                            <!-- about details End-->
                                        </div>
                                    </div>
                                    <!-- about wrap end -->
                                </div>
                                <!-- .col -->
								<!-- Col -->
                                <div class="col-lg-6">
                                    <div class="title-wrap margin-bottom-50">
                                        <div class="pad-top-15">
                                            <p class="margin-bottom-20">In 2004 Fr James Madappattu took charge as the parish priest and he continued the spiritual renewal of the faithful.
												In 2007 Fr Thomas Manakuzhiyil was appointed as the parish priest. On 6th April, 2008 the foundation stone for the new presbytery was laid by Rev. Fr. Joseph Areeckathundathil. The presbytery was blessed on 22nd February, 2009 by Most Rev. Dr. Bernard Moras. The same was opened by Rev.Dr. Xavier E Manavath.

												Many occasions the people of the parish expressed the need for place to worship the Lord in the Eucharist in a serene zone. It became a reality when it was approved in the Pothuyogam held in April 2008. The Adoration Chapel was consecrated on 22nd February, 2009 by Most Rev. Dr. Bernard Moras.

												The same day during the Eucharistic celebration Most Rev. Dr. Bernard Moras declared open the Silver Jubilee Year of the Parish (1985 – 2010). It was a also a joyful occasion for the faithful to get an assistant parish Priest, Fr George Panthalany, CMF.

												The Parish has celebrated its Silver Jubilee year in 2009-2010. The present Parish Priest, Fr. Joseph Thoompanal took change in 2010. We remember very fondly the great works done by the clergy, sisters, all the trustees, parish council members, friends and well-wishers and specially the people of this parish. Let’s bow before God the Almighty for His blessings and providence. We are what we are because of HIM.. We remember very fondly the great works done by the clergy, sisters, all the trustees, parish council members, friends and well-wishers and specially the people of this parish. Let’s bow before God the Almighty for His blessings and providence. We are what we are because of HIM.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Col -->
                            </div>
                            <!-- Row -->
                        </div>
                        <!-- Container -->
                    </section>
                    <!-- About Section End -->

                    <!-- Team Section -->
					<section id="team-section" class="team-section pad-top-95 pad-bottom-90" style="padding-bottom: 60px;">
						<div class="container">
							<!-- Row -->
							<div class="row">
								<div class="offset-md-2 col-md-8">
									<div class="title-wrap text-center">
										<div class="section-title">

											<h2 class="section-title margin-top-5">FORMER PARISH PRIESTS</h2>
											<span class="border-bottom center"></span>
										</div>
									</div>
								</div>
								<div class="sermon-main-wrap sermon-list sermon-grid-2">
									<!-- Row -->
									<div class="row">
										<!-- Col -->
										<div class="col-lg-12">
											<!-- Row -->
											<div class="row">
												<!-- Col -->
												<div class="col-md-12">
													<!--Sermon Inner-->
													<div class="media sermon-inner margin-bottom-40 pad-tb-none relative">
														<!--Sermon Thumb-->
														<div class="sermon-thumb">
															<img src="{% static 'images/team/team-1.jpg' %}" class="img-fluid thumb w-100" width="500" height="485" alt="team-img" />
														</div>
														<div class="media-body pad-tb-20">
															<div class="sermon-details">
																<div class="sermon-title">
																	<h4 class="margin-bottom-10"><a href="#" class="sermon-name">Fr. Mathew Keechira (1984 – 1991)</a></h4>
																</div>
																<div class="sermon-info mt-2 mb-3 pb-1">
																	<ul>
																		<li>
																			<span class="title">Mob:</span> <a href="#">09440360315</a>
																		</li>
																		<li>
																			<span class="title">E-mail:</span> <a href="#">keechiracmf@yahoo.com</a>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<!--Sermon Inner Ends-->
												</div>
												<!-- Col -->
												<!-- Col -->
												<div class="col-md-12">
													<!--Sermon Inner-->
													<div class="media sermon-inner margin-bottom-40 pad-tb-none relative">
														<!--Sermon Thumb-->
														<div class="sermon-thumb">
															<img src="{% static 'images/team/team-2.jpg' %}" class="img-fluid thumb w-100" width="500" height="485" alt="team-img" />
														</div>
														<div class="media-body pad-tb-20">
															<div class="sermon-details">
																<div class="sermon-title">
																	<h4 class="margin-bottom-10"><a href="#" class="sermon-name">Fr. Thomas Perikilakkattu (1991 – 1994)</a></h4>
																</div>
																<div class="sermon-info mt-2 mb-3 pb-1">
																	<ul>
																		<li>
																			<span class="title">Mob:</span> <a href="#">00256712340715</a>
																		</li>
																		<li>
																			<span class="title">E-mail:</span> <a href="#">thomasperikila@yahoo.co.uk</a>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<!--Sermon Inner Ends-->
												</div>
												<!-- Col -->
												<!-- Col -->
												<div class="col-md-12">
													<!--Sermon Inner-->
													<div class="media sermon-inner margin-bottom-40 pad-tb-none relative">
														<!--Sermon Thumb-->
														<div class="sermon-thumb">
															<img src="{% static 'images/team/team-3.jpg' %}" class="img-fluid thumb w-100" width="500" height="485" alt="team-img" />
														</div>
														<div class="media-body pad-tb-20">
															<div class="sermon-details">
																<div class="sermon-title">
																	<h4 class="margin-bottom-10"><a href="#" class="sermon-name">Fr. George Kannanthanam (1994 – 1998)</a></h4>
																</div>
																<div class="sermon-info mt-2 mb-3 pb-1">
																	<ul>
																		<li>
																			<span class="title">Mob:</span> <a href="#"> 09845811515</a>
																		</li>
																		<li>
																			<span class="title">E-mail:</span> <a href="#">georgekannan@hotmail.com</a>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<!--Sermon Inner Ends-->
												</div>
												<!-- Col -->
												<!-- Col -->
												<div class="col-md-12">
													<!--Sermon Inner-->
													<div class="media sermon-inner margin-bottom-40 pad-tb-none relative">
														<!--Sermon Thumb-->
														<div class="sermon-thumb">
															<img src="{% static 'images/team/team-4.jpg' %}" class="img-fluid thumb w-100" width="500" height="485" alt="team-img" />
														</div>
														<div class="media-body pad-tb-20">
															<div class="sermon-details">
																<div class="sermon-title">
																	<h4 class="margin-bottom-10"><a href="#" class="sermon-name">Fr. Thomas Thanniyanickal (1998 – 2001)</a></h4>
																</div>
																<div class="sermon-info mt-2 mb-3 pb-1">
																	<ul>
																		<li>
																			<span class="title">Mob:</span> <a href="#">09423406533</a>
																		</li>
																		<li>
																			<span class="title">E-mail:</span> <a href="#">kunjcmf@yahoo.co.in</a>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<!--Sermon Inner Ends-->
												</div>
												<!-- Col -->
												<!-- Col -->
												<div class="col-md-12">
													<!--Sermon Inner-->
													<div class="media sermon-inner margin-bottom-40 pad-tb-none relative">
														<!--Sermon Thumb-->
														<div class="sermon-thumb">
															<img src="{% static 'images/team/team-5.jpg' %}" class="img-fluid thumb w-100" width="500" height="485" alt="team-img" />
														</div>
														<div class="media-body pad-tb-20">
															<div class="sermon-details">
																<div class="sermon-title">
																	<h4 class="margin-bottom-10"><a href="#" class="sermon-name">Fr. Abraham Karoor (2001 – 2004)</a></h4>
																</div>
																<div class="sermon-info mt-2 mb-3 pb-1">
																	<ul>
																		<li>
																			<span class="title">Mob:</span> <a href="#">09440865875</a>
																		</li>
																		<li>
																			<span class="title">E-mail:</span> <a href="#">sojancmf@rediffmail.com</a>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<!--Sermon Inner Ends-->
												</div>
												<!-- Col -->
												<!-- Col -->
												<div class="col-md-12">
													<!--Sermon Inner-->
													<div class="media sermon-inner margin-bottom-40 pad-tb-none relative">
														<!--Sermon Thumb-->
														<div class="sermon-thumb">
															<img src="{% static 'images/team/team-6.jpg' %}" class="img-fluid thumb w-100" width="500" height="485" alt="team-img" />
														</div>
														<div class="media-body pad-tb-20">
															<div class="sermon-details">
																<div class="sermon-title">
																	<h4 class="margin-bottom-10"><a href="#" class="sermon-name">Fr. James Madappatt (2004 - 2007)</a></h4>
																</div>
																<div class="sermon-info mt-2 mb-3 pb-1">
																	<ul>
																		<li>
																			<span class="title">Mob:</span> <a href="#">09946496107</a>
																		</li>
																		<li>
																			<span class="title">E-mail:</span> <a href="#">jmadappatt@gmail.com</a>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<!--Sermon Inner Ends-->
												</div>
												<!-- Col -->
												<!-- Col -->
												<div class="col-md-12">
													<!--Sermon Inner-->
													<div class="media sermon-inner margin-bottom-40 pad-tb-none relative">
														<!--Sermon Thumb-->
														<div class="sermon-thumb">
															<img src="{% static 'images/team/team-7.jpg' %}" class="img-fluid thumb w-100" width="500" height="485" alt="team-img" />
														</div>
														<div class="media-body pad-tb-20">
															<div class="sermon-details">
																<div class="sermon-title">
																	<h4 class="margin-bottom-10"><a href="#" class="sermon-name">Fr Thomas Manakuzhiyil, cmf ( 2007-2010 )</a></h4>
																</div>
																<div class="sermon-info mt-2 mb-3 pb-1">
																	<ul>
																		<li>
																			<span class="title">Mob:</span> <a href="#">+91 9405139220</a>
																		</li>
																		<li>
																			<span class="title">E-mail:</span> <a href="#">manakuzhy@gmail.com</a>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<!--Sermon Inner Ends-->
												</div>
												<!-- Col -->
												<!-- Col -->
												<div class="col-md-12">
													<!--Sermon Inner-->
													<div class="media sermon-inner margin-bottom-40 pad-tb-none relative">
														<!--Sermon Thumb-->
														<div class="sermon-thumb">
															<img src="{% static 'images/team/team-8.jpg' %}" class="img-fluid thumb w-100" width="500" height="485" alt="team-img" />
														</div>
														<div class="media-body pad-tb-20">
															<div class="sermon-details">
																<div class="sermon-title">
																	<h4 class="margin-bottom-10"><a href="#" class="sermon-name">Fr Joseph Thoompanal, CMF</a></h4>
																</div>
																<div class="sermon-info mt-2 mb-3 pb-1">
																	<ul>
																		<li>
																			<span class="title">Mob:</span> <a href="#">+91 9740076777, +91-80-28383175</a>
																		</li>
																		<li>
																			<span class="title">E-mail:</span> <a href="#">vicar@stthomasjalahalli.com, jose11cmf@gmail.com</a>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<!--Sermon Inner Ends-->
												</div>
												<!-- Col -->
												<!-- Col -->
												<div class="col-md-12">
													<!--Sermon Inner-->
													<div class="media sermon-inner margin-bottom-40 pad-tb-none relative">
														<!--Sermon Thumb-->
														<div class="sermon-thumb">
															<img src="{% static 'images/team/team-9.jpg' %}" class="img-fluid thumb w-100" width="500" height="485" alt="team-img" />
														</div>
														<div class="media-body pad-tb-20">
															<div class="sermon-details">
																<div class="sermon-title">
																	<h4 class="margin-bottom-10"><a href="#" class="sermon-name">Fr. James Nadackal, CMF</a></h4>
																</div>
																<div class="sermon-info mt-2 mb-3 pb-1">
																	<ul>
																		<li>
																			<span class="title">Mob:</span> <a href="#">096110446810</a>
																		</li>
																		<li>
																			<span class="title">E-mail:</span> <a href="#">james.kannan@gmail.com</a>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<!--Sermon Inner Ends-->
												</div>
												<!-- Col -->
											</div>
											<!-- row -->
										</div>
										<!-- Col -->
									</div>
									<!-- Row -->
								</div>
							</div>
							<!-- Row -->
						</div>
						<!-- Container -->
					</section>
					<!-- Team Section End -->
					<div class="about-wrap relative" style="padding-bottom: 60px;">
						<div class="about-wrap-inner">
							<!-- about details -->
							<div class="about-wrap-details">
								<!-- about button -->
								<div class="text-center">
									<div class="about-img">
										<img src="{% static 'images/about-us/trustees.gif' %}" class="" alt="about-img">
									</div>
									<div class="team-designation"><h5 class="mb-0">Past Trustees</h5></div>
									<!-- .col -->
								</div>
							</div>
							<!-- about details End-->
						</div>
					</div>
                </div>
            </div>
        </div>
        <!-- .page-wrapper-inner -->
    </div>
    <!--page-wrapper-->

	{% endblock content %}