<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Dropdown Menu | Korsat X Parmaga</title>

    <!-- Box Icons  -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!-- Styles  -->
    <link rel="shortcut icon" href="{% static 'asset/img/kxp_fav.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'asset/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <style>

    </style>
</head>

<body>
    <div class="sidebar close">
        <!-- ========== Logo ============  -->
        <a href="#" class="logo-box">
           <img src="{% static 'images/church logo (4).png' %}" class="img-fluid" width="60" height="40" alt="Logo">
            <div class="logo-name">St.Thomas Church</div>
        </a>

        <!-- ========== List ============  -->
        <ul class="sidebar-list">
            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="admin_dashboard" class="link">
                        <i class='bx bx-grid-alt'></i>
                        <span class="name">Dashboard</span>
                    </a>
                    
                </div>
                <div class="submenu">
                    <a href="admin_dashboard" class="link submenu-title">Dashboard</a>
                </div>
            </li>

            <li>
                <div class="title">
                    <a href="admin_registration_view" class="link">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        <span class="name">User</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="admin_registration_view" class="link submenu-title">User</a>
                    <!-- submenu links here  -->
                </div>
            </li>


            <!-- -------- Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="admin_add_events" class="link">
                        <i class='bx bx-collection'></i>
                        <span class="name">Events</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="admin_event_view" class="link submenu-title">Events</a>
                    <a href="admin_add_events" class="link">Add Events</a>
                    <a href="admin_event_view" class="link">Event Details</a>
                </div>
            </li>

            <!-- -------- Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="admin_ministries_view" class="link">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <span class="name">Ministries</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="admin_ministries_view" class="link submenu-title">Ministries</a>
                    <a href="admin_add_ministries" class="link">Add Ministries</a>
                    <a href="admin_daily_mass_view" class="link">Mass Times</a>
                    <a href="admin_special_mass_view" class="link">Special Mass</a>
                    <a href="admin_obituary_view" class="link">Obituary</a>
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            

            <li class="dropdown">
                <div class="title">
                    <a href="" class="link">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                        <span class="name">Gallery</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="admin_category_view" class="link submenu-title">Main Gallery</a>
                    <a href="admin_add_category" class="link">Add main Gallery</a>
                    <a href="admin_add_main_gallery" class="link">Add Sub Gallery</a>
                    <a href="admin_gallery_view" class="link">Public Gallery</a>
                    
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="admin_blog_view" class="link">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                        <span class="name">News&Blogs</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="admin_add_blog" class="link submenu-title">News&Blogs</a>
                    <!-- submenu links here  -->
                </div>
            </li>

            <li>
                <div class="title">
                    <a href="admin_booking_view" class="link">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <span class="name">Booking Details</span>
                    </a>
                </div>
                <div class="submenu">
                    <a href="admin_booking_view" class="link submenu-title">Booking Details</a>
                    <!-- submenu links here  -->
                </div>
            </li>

            <li>
                <div class="title">
                    <a href="admin_contact_view" class="link">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span class="name">Contact History</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="admin_contact_view" class="link submenu-title">Contact History</a>
                    <!-- submenu links here  -->
                </div>
            </li>

            <!-- -------- Dropdown List Item ------- -->
            {% if user.is_authenticated %}
            <li>
                <div class="title">
                    <a href="logout_user" class="link">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <span class="name">Sign Out</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="logout_user" class="link submenu-title">Sign Out </a>
                    <!-- submenu links here  -->
                </div>
            </li>
            {% else %}
            <li>
                <div class="title">
                    <a href="login_user" class="link">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <span class="name">Sign In</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="login_user" class="link submenu-title">Sign In</a>
                    <!-- submenu links here  -->
                </div>
            </li>
            {% endif %}
        </ul>
    </div>


    <!-- ============= Home Section =============== -->
    <section class="home">
        <div class="toggle-sidebar">
            <i class='bx bx-menu'></i>
            <div class="text">Toggle</div>
        </div>

            <!-- ======================= Cards ================== -->

            <!-- ================ Order Details List ================= -->
            <div class="container-1">
                <form action="" method="post">{% csrf_token %}

                    <h2>Update Events</h2>
                    <div class="content-1">
                        <div class="input-box">
                            <label for="event_name">Event Name</label>
                            <input type="text" placeholder="" name="event_name" value= "{{ events.event_name }}" required>
                        </div>
                        <div class="input-box">
                            <label for="notification_start_date">Notification Start Date</label>
                            <input type="date" placeholder="" name="notification_start_date" value="{{ events.notification_start_date|date:'Y-m-d' }}" required>
                        </div>
                        <div class="input-box">
                            <label for="notification_end_date">Notification End Date</label>
                            <input type="date" placeholder="" name="notification_end_date" value="{{ events.notification_end_date|date:'Y-m-d' }}" required>
                        </div>
                        <div class="input-box">
                            <label for="organizer">Organizer</label>
                            <input type="text" placeholder="" name="organizer" value="{{ events.organizer }}" required>
                        </div>
                        <div class="input-box">
                            <label for="start_date">Start Date</label>
                            <input type="date" placeholder="" name="start_date" value="{{ events.start_date|date:'Y-m-d' }}" required>
                        </div>
                        <div class="input-box">
                            <label for="time">Time</label>
                            <input type="time" placeholder="" name="time" value="{{ events.time|time:'H:i' }}" required>
                        </div>
                        <div class="input-box">
                            <label for="end_date">End Date</label>
                            <input type="date" placeholder="" name="end_date" value="{{ events.end_date|date:'Y-m-d' }}" required>
                        </div>
                        <!-- <div class="input-box">
                            <label for="cost">Cost</label>
                            <input type="number" placeholder="Optional" value="{{ events.cost }}" name="cost">
                        </div> -->
                       
                        <div class="input-box">
                            <label for="main_image">Main Image
                                {% if events.main_image %}
                                    <img src="{{ events.main_image.url }}" alt="Main Image" style="width: 60px; height: auto;">
                                {% endif %}
                            </label>
                            
                            <input type="file" placeholder="" name="main_image" required>
                            
                        </div>
                       
                        <div class="input-box">
                            <label for="event_venue">Venue</label>
                            <input type="text" placeholder="" name="event_venue" value="{{ events.event_venue }}" required>
                        </div>
                        <div class="input-box">
                            <label for="address">Address</label>
                            <input type="text" placeholder="" name="address" value="{{ events.address }}" required>
                        </div>
                        <div class="input-box">
                            <label for="email">Email</label>
                            <input type="email" placeholder="Optional" value="{{ events.email }}" name="email">
                        </div>
                        <div class="input-box">
                            <label for="phone">Phone</label>
                            <input type="number" placeholder="Optional" value="{{ events.phone }}" name="phone">
                        </div>
                        <div class="input-box">
                            <label for="event_gallery_image">Gallery Image
                                {% if events.event_gallery_image %}
                                    <img src="{{ events.event_gallery_image.url }}" alt="Main Image" style="width: 60px; height: auto;">
                                {% endif %}
                            </label>
                            <input type="file" placeholder="Optional" name="event_gallery_image" value="{{ events.event_gallery_image.url }}">
                        </div>
                        <div class="input-box">
                            <label for="event_description">Description</label>
                            <input type="text" placeholder="" name="event_description" value="{{ events.event_description }}" required>
                        </div>
                         <div class="input-box">
                            <label for="description_image">Description Image
                                {% if events.description_image %}
                                    <img src="{{ events.description_image.url }}" alt="Main Image" style="width: 60px; height: auto;">
                                {% endif %}
                            </label>
                            <input type="file" placeholder="" name="description_image" value="{{ events.time }}" required>
                        </div>
                        <div class="button-container-1">
                            <button type="submit">ADD EVENTS</button>
                        </div>
                    </div>
                </form>
            </div>
    </section>
        <!-- =========== Scripts =========  -->
        <script src="{% static 'asset/js/main.js' %}"></script>
</body>

</html>
