
{% extends "base-two.html" %}
{% load static %}
{% block title %}
 Bishop Message
{% endblock title %}

{% block content %}
					<div class="page-title-wrap typo-white">
						<div class="page-title-wrap-inner section-bg-img" data-bg="{% static 'images/base-two-main.JPG' %}">
							<span class="theme-overlay"></span>
							<div class="container">
								<div class="row text-center">
									<div class="col-md-12">
										<div class="page-title-inner">
											<div id="breadcrumb" class="breadcrumb margin-bottom-10">
												<a href="index.html" class="theme-color">Home</a>
												<span class="current">Bishop Message</span>
											</div>
											<h1 class="page-title mb-0">Bishop Message</h1>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<section id="section-sermon" class="sermon-section" style="padding-top: 0px; padding-bottom: 0px;">
                        <div class="container">
							<div class="section-title text-center">
								<h2 class="section-title margin-top-5" style="margin-bottom: 0px;"></h2>

							</div>
							 <!-- Sermon Main Wrap -->
							<div class="sermon-main-wrap sermon-list sermon-grid-2" style="padding-top: 15px;">
								<!-- Row -->
								<div class="row">
									<!-- Col -->
									<div class="col-lg-12">
										<!-- Row -->
										<div class="row">
											<div class="col-md-12">
												<!--Sermon Inner-->
												<div class="media sermon-inner margin-bottom-40 pad-tb-none relative">
													<!--Sermon Thumb-->

													<div class="media-body pad-tb-20">
														<div class="section-title text-center">
															<h2 class="section-title margin-top-5" style="margin-bottom: 0px;">Bishop Message</h2>
															<span class="border-bottom center"></span>
														</div>
														<div class="sermon-details">

															<div class="sermon-excerpt margin-bottom-30">
																<p>I hear that you are publishing a new directory of the parish and this note is to send you my wishes and prayers. I realize that it has been almost six years since you have published your directory. In the meantime, there are many who may have left their parish community due to job transfers, migrating to other countries or settled in other places due to various reasons. It is also true many new families have come to the parish and the directory will be a good tool to help them to know the other members of the parish family.

																	Jalahalli was in the forefront of introducing new and innovative programs to carry out the New Testament message in a meaningful way. It will be ideal to include a brief of each of those activities in the directory so that those who do not frequent the community that often will come to know about those activities.

																	It is also a joyful fact that you have become a Forane Church ever since you published your last directory. As you feverishly prepare the new directory, I send you my wishes and prayers and wish you all the best. May you become the fragrance of Christ around your communities.
																</p>
															</div>
														</div>

													</div>
												</div>
												<!--Sermon Inner Ends-->
											</div>
										</div>

                                    <!-- Col -->
								</div>
							</div>
						</div>
					</section>


{% endblock content %}
