{% extends "base-two.html" %}
{% load static %}
{% block title %}
 Bishop Message
{% endblock title %}

{% block content %}
            <div class="page-title-wrap typo-white">
                <div class="page-title-wrap-inner section-bg-img" data-bg="{% static 'images/page-title.jpg' %}">
					<span class="theme-overlay"></span>
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <div class="page-title-inner">
									<div id="breadcrumb" class="breadcrumb margin-bottom-10">
                                        <a href="index.html" class="theme-color">Home</a>
                                        <span class="current">Blog Single</span>
                                    </div>
                                    <h1 class="page-title mb-0">Blog Single</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page-header -->
            <!-- Page Content -->
            <div class="content-wrapper pad-none">
                <div class="content-inner">
                    <!-- Blog Single Section -->
                    <section id="blog-single" class="blog-single">
                        <div class="container">
                            <!-- Blog Main Wrap -->
                            <div class="blog-main-wrap blog-list">
                                <!-- Row -->
                                <div class="row">
                                    <!-- Col -->
                                    <div class="col-lg-8">
                                        <!-- blog-wrap -->
                                        <div class="blog-wrap mb-4 pb-3">
                                            <!-- blog-info-wrap -->
                                            <div class="blog-info-wrap">
                                                <!-- blog img -->
                                                <div class="blog-thumb mb-4 pb-2">
                                                    <img src="{% static 'images/blog/blog-single.jpg' %}" width="1280" height="853" class="img-fluid b-radius-8" alt="blog-img">
                                                </div>
                                                <!-- Meta -->
                                                <div class="post-meta top-meta margin-bottom-30">
                                                    <ul class="nav">
                                                        <li>
                                                            <a href="#"><span class="author-img">
															<img alt="" src="{% static 'images/icons/author-icon.jpg' %}" class="avatar avatar-30 photo rounded-circle me-2" height="30" width="30"></span>Jack</a>
                                                        </li>
														<li class="nav-item">
                                                            <div class="post-category">
                                                                <span class="ti-folder me-2 theme-color"></span>
                                                                <a href="#">Jesus Love</a>, <a href="#">Sermon</a>
                                                            </div>
                                                        </li>
                                                        <li class="nav-item">
                                                            <div class="post-date">
                                                                <span class="ti-time me-2 theme-color"></span>
                                                                <a href="#">Apr 19, 2019</a>
                                                            </div>
                                                        </li>                                                                                                                
                                                    </ul>
                                                </div>
                                                <!-- Meta -->
                                                <div class="blog-content pb-4 mb-2">
                                                    <p>Learn the Lord Jesus by all your heart, you will be showered with his blessings. Learning the Bible enhances your wisdom, and give you boldness about your faith. We collaborate with volunteers like children’s and community family service agencies, medical treatment programs, residential programs for elders, counseling centers, providing emergency assistance to families in need, and so on. Our Zegen Church WordPress Theme is ultimately flexible and a power pack with loads of nice options and features and functionalities. Launch your church website today!</p>
													
													<p>It is a long-established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English.</p>

                                                    <blockquote class="blockquote-1">
                                                        <p class="mb-3">Don’t quit, and don’t give up. The reward is just around the corner. And in times of doubt or times of joy, listen for that still.</p>
														<p class="quote-author mb-0">Mark Johnson</p>
                                                    </blockquote>

                                                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy.</p>
													
													<p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
													
													<p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, etc.</p>
                                                </div>
												<!-- Row -->
												<div class="row margin-bottom-40">
													 <!-- Col -->
													<div class="col-md-6">
													   <div class="sermons-thumb relative">
															<img src="{% static 'images/sermons/sermon-single2.jpg' %}" class="img-fluid b-radius-6" width="768" height="456" alt="sermons-img" />
														</div>
													</div>
													 <!-- Col -->
													<!-- Col -->
													<div class="col-md-6">
													   <div class="sermons-thumb relative">
															<img src="{% static 'images/sermons/sermon-single3.jpg' %}" class="img-fluid b-radius-6" width="768" height="456" alt="sermons-img" />
														</div>
													</div>                                             
												</div>
												<!-- Row -->
                                                <!-- Meta -->
                                                <div class="post-meta bottom-meta">
													<div class="meta-left pull-left">
														<ul class="nav">
															<li class="nav-item">
																<div class="post-tags">
																	<a href="#">#donate</a><a href="#">#jesus</a><a href="#">#prayer</a><a href="#">#sermon</a>
																</div>
															</li>
															<li class="nav-item">
																<div class="post-comment"><a href="#" rel="bookmark" class="comments-count">Comments (0)</a>
																</div>
															</li>					
														</ul>
													</div>
													<div class="social-icons social-2 icons-circle widget-content pull-right small">
                                                        <a href="#"><span class="fa fa-facebook"></span></a>
                                                        <a href="#"><span class="fa fa-twitter"></span></a>
                                                        <a href="#"><span class="fa fa-pinterest"></span></a>
                                                        <a href="#"><span class="fa fa-google-plus"></span></a>
                                                        <a href="#"><span class="fa fa-linkedin"></span></a>
                                                    </div>
                                                </div>
                                                <!-- Meta -->
                                            </div>
                                            <!-- blog-info-wrap -->
                                        </div>
                                        <!-- blog-wrap -->
										<!-- row -->
										<div class="row pad-top-20 pad-bottom-40">
											<div class="col-md-12">
												<div class="post-navigation-wrapper">
													<div class="prev-nav-link">
														<span class="post-nav-text">Prev</span>
														<a class="prev" href="#"><h4 class="mb-0">Prev Blog</h4></a>
													</div>
													<div class="next-nav-link">
														<span class="post-nav-text">Next</span>
														<a class="next" href="#"><h4 class="mb-0">Next Blog</h4></a>
													</div>
												</div>
											</div>
										</div>
										<!-- row -->
                                        <!-- row -->
                                        
                                    </div>
                                    <!-- Col -->
                                    <!-- Sidebar -->
                                    <!-- Col -->
                                    <div class="col-lg-4 ps-5 px-sm-15">
                                        <!-- Sidebar -->
                                        <div class="sidebar right-sidebar">
                                           
                                            <div class="widget category-widget">
                                                <div class="widget-title">
                                                    <!-- Title -->
                                                    <h3 class="title">Categories</h3>
                                                </div>
                                                <ul class="category-list">
                                                    <li class="cat-item">
                                                        <a href="#">Chartiy</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="#">Faithful</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="#">Jesus Love</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="#">Prayer</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="#">Sermon</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Categories -->
                                            <!-- Popular Post -->
                                            <div class="widget recent-posts">
                                                <div class="widget-title">
                                                    <!-- Title -->
                                                    <h3 class="title">Popular Posts</h3>
                                                </div>
                                                    <ul class="list-post-content">
                                                    <li>
                                                        <!--Media-->
                                                        <div class="media list-post">
                                                            <div class="side-noimg themebg-color">
																<span class="fa fa-quote-left"></span>																
															</div>                                                            
                                                            <div class="media-body">
                                                                 <a href="sermon-single.html">Testimony Love Offering So Blessed</a>
                                                                <div class="meta-items mt-2">
                                                                    <span class="post-date"><i class="ti-time me-2 theme-color"></i>Apr 18, 2019</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Media End -->
                                                    </li>
                                                    <li>
                                                        <!--Media-->
                                                        <div class="media list-post">
                                                            <div class="side-noimg themebg-color">
																<span class="fa fa-anchor"></span>																
															</div>
                                                            <div class="media-body">
                                                                <a href="sermon-single.html">Belongs to those who fail in their duty</a>
                                                                <div class="meta-items mt-2">
                                                                    <span class="post-date"><i class="ti-time me-2 theme-color"></i>Apr 18, 2019</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Media End -->
                                                    </li>
                                                    <li>
                                                        <!--Media-->
                                                        <div class="media list-post">
                                                            <span class="popular-thumb me-3">
                                                                <img width="70" height="70" class="rounded" src="{% static 'images/blog/thumb/blog_thumb3-80x80.jpg' %}" alt="">
                                                            </span>
                                                            <div class="media-body">
                                                                <a href="sermon-single.html">An Important Conversation Around</a>
                                                                <div class="meta-items mt-2">
                                                                    <span class="post-date"><i class="ti-time me-2 theme-color"></i>Apr 18, 2019</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Media End -->
                                                    </li>
													<li>
                                                        <!--Media-->
                                                        <div class="media list-post">
                                                            <span class="popular-thumb me-3">
                                                                <img width="70" height="70" class="rounded" src="{% static 'images/blog/thumb/blog_thumb1-80x80.jpg' %}" alt="">
                                                            </span>
                                                            <div class="media-body">
                                                                <a href="sermon-single.html">Let’s Talk With Brian Houston</a>
                                                                <div class="meta-items mt-2">
                                                                    <span class="post-date"><i class="ti-time me-2 theme-color"></i>Apr 18, 2019</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Media End -->
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Popular Post -->                                            
                                            <!-- Tag Cloud -->
                                            <div class="widget tag-cloud mb-0">
                                                <div class="widget-title">
                                                    <!-- Title -->
                                                    <h3 class="title">Tag List</h3>
                                                </div>
                                                <div class="tagcloud">
                                                    <a href="#" class="tag-cloud-link">biblestory</a>
                                                    <a href="#" class="tag-cloud-link">church</a>
                                                    <a href="#" class="tag-cloud-link">donate</a>
                                                    <a href="#" class="tag-cloud-link">hope</a>
                                                    <a href="#" class="tag-cloud-link">jesus</a>
                                                    <a href="#" class="tag-cloud-link">prayer</a>
                                                    <a href="#" class="tag-cloud-link">sermon</a>
                                                </div>
                                            </div>
                                            <!-- Tag Cloud -->
                                        </div>
                                        <!-- Sidebar -->
                                    </div>
                                    <!-- Col -->
                                </div>
                                <!-- Row -->
                            </div>
                            <!-- Blog Main Wrap -->
                        </div>
                        <!-- Container -->
                    </section>
                    <!-- Blogs Section End -->
                </div>
            </div>
        </div>
        <!-- .page-wrapper-inner -->
    </div>
    <!--page-wrapper-->

    {% endblock content %}
