{% extends "base-two.html" %}
{% load static %}
{% block title %}
 Bishop Message
{% endblock title %}

{% block content %}
            <!-- header -->
            <!-- page-header -->
            <div class="page-title-wrap typo-white">
                <div class="page-title-wrap-inner section-bg-img" data-bg="{% static 'images/base-two-main.JPG' %}">
					<span class="theme-overlay"></span>
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <div class="page-title-inner">
									<div id="breadcrumb" class="breadcrumb margin-bottom-10">
                                        <a href="index.html" class="theme-color">Home</a>
                                        <span class="current">Blog</span>
                                    </div>
                                    <h1 class="page-title mb-0">Blog</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page-header -->
            <!-- Page Content -->

            <div class="content-wrapper pad-none">
                <div class="content-inner">					
					<!-- Blog Section -->
					<section id="blog-section" class="blog-section pad-bottom-70">                    
                        <div class="container">
							 <!-- Blog Main Wrap -->
							<div class="blog-main-wrap blog-grid masonry-grid-default">
								<!-- Row -->
								<div class="row">
									<!-- Col -->
									<div class="col-lg-8">
										<!-- Row -->
										<div class="row">
											<div class="col-md-12">
												<div class="isotope-grid zoom-gallery" data-gutter="30" data-cols="2">
													<!-- isotope-item-->{% for blogs in blog %}
													<div class="isotope-item">
														<div class="blog-style-3">
															<!--Blog Inner-->
															<div class="blog-inner">
																<div class="blog-thumb relative margin-bottom-25">
																	<img src="{{blogs.blog_image}}" class="img-fluid" width="1400" height="933" alt="blog-img" />
																</div>
																<div class="blog-details">
																	<div class="top-meta mb-1">
																		<ul class="top-meta-list">
																		<li><div class="post-date"><i class="ti-time"></i><a href="#">{{blogs.date}}</a></div></li>
																		</ul>
																	</div>
																	<div class="blog-title">
																		<h4 class="margin-bottom-15"><a href="blog-single.html" class="blog-name">{{blogs.description}}</a></h4>
																	</div>
																	<div class="blog-desc">
																		<p>Our Motto is Love God! Love People! Our Mission is to Cleansing People’s hearts from sin and fills</p>
																	</div>
<!--																	<div class="blog-link mt-2">-->
<!--																		<a target="_blank" href="#" class="link font-w-500">Read More</a>-->
<!--																	</div>															-->
																</div>
															</div>
															<!--Blog Inner Ends-->
														</div>
													</div>
													{% endfor %}
												</div>
											</div>
											<!-- Col -->
											<div class="col-lg-12">
												<div class="post-pagination-wrap margin-top-30">
													<ul class="nav pagination post-pagination justify-content-center test-pagination">
														<li class="nav-item active"><span class="active">1</span></li>
														<li class="nav-item"><a href="#">2</a></li>
														<li class="nav-item"><a href="#">3</a></li>
														<li class="nav-item"><a href="#" class="next-page icon" title="next"><i class="ti-angle-right"></i></a></li>
													</ul>
												</div>
											</div>
											<!-- Col -->
										</div>
										<!-- row -->
									</div>
									<!-- Col -->
                                    <div class="col-lg-4 ps-5 px-sm-15">
                                        <!-- Sidebar -->
                                        <div class="sidebar right-sidebar">
                                            <!-- Search -->
<!--                                            <div class="widget search-widget">-->
<!--                                                <div class="search-form-wrapper">-->
<!--                                                    <form class="search-form" role="search">-->
<!--                                                        <div class="input-group add-on">-->
<!--                                                            <input class="form-control" placeholder="Search for.." name="srch-term" type="text">-->
<!--                                                            <div class="input-group-btn">-->
<!--                                                                <button class="btn btn-default search-btn" type="submit"><i class="ti-arrow-right"></i></button>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </form>-->
<!--                                                </div>-->
<!--                                            </div>-->
                                            <!-- Search -->
											<!-- Categories -->
                                            <div class="widget category-widget">
                                                <div class="widget-title">
                                                    <!-- Title -->
                                                    <h3 class="title">Categories</h3>
                                                </div>
                                                <ul class="category-list">
                                                    <li class="cat-item">
                                                        <a href="#">Chartiy</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="#">Faithful</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="#">Jesus Love</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="#">Prayer</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="#">Sermon</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Categories -->
                                            <!-- Popular Post -->
                                            <div class="widget recent-posts">
                                                <div class="widget-title">
                                                    <!-- Title -->
                                                    <h3 class="title">Popular Posts</h3>
                                                </div>
                                                    <ul class="list-post-content">
                                                    <li>
                                                        <!--Media-->
                                                        <div class="media list-post">
                                                            <div class="side-noimg themebg-color">
																<span class="fa fa-quote-left"></span>																
															</div>                                                            
                                                            <div class="media-body">
                                                                 <a href="sermon-single.html">Testimony Love Offering So Blessed</a>
                                                                <div class="meta-items mt-2">
                                                                    <span class="post-date"><i class="ti-time me-2 theme-color"></i>Apr 18, 2019</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Media End -->
                                                    </li>
                                                    <li>
                                                        <!--Media-->
                                                        <div class="media list-post">
                                                            <div class="side-noimg themebg-color">
																<span class="fa fa-anchor"></span>																
															</div>
                                                            <div class="media-body">
                                                                <a href="sermon-single.html">Belongs to those who fail in their duty</a>
                                                                <div class="meta-items mt-2">
                                                                    <span class="post-date"><i class="ti-time me-2 theme-color"></i>Apr 18, 2019</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Media End -->
                                                    </li>
                                                    <li>
                                                        <!--Media-->
                                                        <div class="media list-post">
                                                            <span class="popular-thumb me-3">
                                                                <img width="70" height="70" class="rounded" src="{% static 'images/blog/thumb/blog_thumb3-80x80.jpg' %}" alt="">
                                                            </span>
                                                            <div class="media-body">
                                                                <a href="sermon-single.html">An Important Conversation Around</a>
                                                                <div class="meta-items mt-2">
                                                                    <span class="post-date"><i class="ti-time me-2 theme-color"></i>Apr 18, 2019</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Media End -->
                                                    </li>
													<li>
                                                        <!--Media-->
                                                        <div class="media list-post">
                                                            <span class="popular-thumb me-3">
                                                                <img width="70" height="70" class="rounded" src="{% static 'images/blog/thumb/blog_thumb1-80x80.jpg' %}" alt="">
                                                            </span>
                                                            <div class="media-body">
                                                                <a href="sermon-single.html">Let’s Talk With Brian Houston</a>
                                                                <div class="meta-items mt-2">
                                                                    <span class="post-date"><i class="ti-time me-2 theme-color"></i>Apr 18, 2019</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Media End -->
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Popular Post -->                                            
                                            <!-- Tag Cloud -->
                                            <div class="widget tag-cloud mb-0">
                                                <div class="widget-title">
                                                    <!-- Title -->
                                                    <h3 class="title">Tag List</h3>
                                                </div>
                                                <div class="tagcloud">
                                                    <a href="#" class="tag-cloud-link">biblestory</a>
                                                    <a href="#" class="tag-cloud-link">church</a>
                                                    <a href="#" class="tag-cloud-link">donate</a>
                                                    <a href="#" class="tag-cloud-link">hope</a>
                                                    <a href="#" class="tag-cloud-link">jesus</a>
                                                    <a href="#" class="tag-cloud-link">prayer</a>
                                                    <a href="#" class="tag-cloud-link">sermon</a>
                                                </div>
                                            </div>
                                            <!-- Tag Cloud -->
                                        </div>
                                        <!-- Sidebar -->
                                    </div>
                                    <!-- Col -->
								</div>
								<!-- Row -->
							</div>
							<!-- Blog Main Wrap -->
						</div>
						<!-- Container -->
                    </section>
                    <!-- Blog Section End -->
                </div>
            </div>
        </div>
    <!-- .page-wrapper-inner -->
    </div>
    <!--page-wrapper-->

{% endblock content %}
    <!-- Footer -->
