<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Gallery</title>
</head>
<body>
    <h1>Gallery Display</h1>
    {% for gallery in galleries %}
        <div>
            <h2>{{ gallery.main_heading }}</h2>
            <img src="{{ gallery.main_image.url }}" alt="{{ gallery.main_heading }}">
            <h3>Images:</h3>
            {% for image in gallery.images.all %}
                <img src="{{ image.image.url }}" alt="Gallery Image">
            {% endfor %}
        </div>
    {% endfor %}
</body>
</html>
