{% extends "base-two.html" %}
{% load static %}
{% block title %}
Error_404
{% endblock title %}

{% block content %}
            <!-- header -->
            <!-- Page Content -->
            <div class="content-wrapper pad-none">
                <div class="content-inner">
                    <!-- Error 404 Section -->
                    <section id="error-404" class="error-404 pad-top-90">
                        <div class="container">
                            <!-- Row -->
                            <div class="row pt-4">
                                <!-- Col -->
                                <div class="col-md-12 text-center">
                                    <div class="error-wrap">
                                        <div class="error-content">
                                            <div class="error-page">
                                                <h1>404</h1>
                                            </div>
                                            <div class="error-description">
                                                <p>Oops! Page Not Found</p>
                                            </div>
                                            <div class="error-btn mt-5">
                                                <a class="btn btn-default text-uppercase b-radius-0" href="index.html" title="Home">Back to Home Page<i class="fa fa-home ms-3"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Col -->
                            </div>
                            <!-- Row -->
                        </div>
                        <!-- Container -->
                    </section>
                    <!-- error-404 Section End -->
                </div>
            </div>
        </div>
        <!-- .page-wrapper-inner -->
    </div>
{% endblock content %}