{% extends "base-two.html" %}
{% load static %}
{% block title %}
 Event Details
{% endblock title %}
{% block content %}

			<div class="page-title-wrap typo-white">
				<div class="page-title-wrap-inner section-bg-img" data-bg="{% static 'images/base-two-main.JPG' %}">
					<span class="theme-overlay"></span>
					<div class="container">
						<div class="row text-center">
							<div class="col-md-12">
								<div class="page-title-inner">
									<div id="breadcrumb" class="breadcrumb margin-bottom-10">
										<a href="index.html" class="theme-color">Home</a>
										<span class="current">Event Details</span>
									</div>
									<h1 class="page-title mb-0">Event Details</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

            <div class="content-wrapper pad-none">
                <div class="content-inner">
                    <!-- Event Single Section -->
                    <section id="single-event" class="single-event">
                        <div class="container">
                            <div class="single-event-wrap">

                                <!-- Row -->
                                <div class="row">
                                    <!-- Col -->
                                    <div class="col-md-12">

                                        <!-- event img -->
                                        <div class="zoom-gallery mb-5">
                                            <div class="events-thumb relative">
                                                <a class="popup-img" href="#" title="Single Portfolio">
                                                    <img src="{{events.main_image.url}}" class="img-fluid single-event-img b-radius-10" alt="events-img" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Col -->
                                </div>
                                <!-- Row -->
                                <!-- Row 2 -->
                                <div class="row">
                                    <!-- Col -->
                                    <div class="col-lg-8">
<!--                                        <p class="margin-bottom-25">Mauris id enim id purus ornare tincidunt. Aenean vel consequat risus. Proin viverra nisi at nisl imperdiet auctor. Donec ornare, est sed tincidunt placerat, sem mi suscipit mi, at varius enim sem at sem. Fusce tempus ex nibh, eget vulputate ligula ornare eget. Nunc facilisis erat at ligula blandit tempor. Pellentesque elit arcu, finibus ut rutrum vel, dapibus eget nisi. Suspendisse at venenatis arcu, et accumsan ante.congue ut faucibus et, mattis in ante.</p>-->
										<!-- events-title-wrap -->
                                        <div class="events-title-wrap pt-1 margin-bottom-35">
                                            <div class="events-content">
                                                <div class="events-title pad-none margin-none">
                                                    <h3 class="margin-bottom-15">Event <span class="theme-color">Description</span></h3>
                                                </div>
                                                <p>{{events.event_description}}</p>
                                            </div>
                                        </div>
                                        <!-- events-title-wrap -->
										<!-- Row -->
                                        <div class="row">
                                             <!-- Col -->
                                            <div class="col-md-6">
                                               <div class="events-thumb relative">
                                                    <img src="{{events.description_image.url}}" class="img-fluid b-radius-6" width="768" height="456" alt="events-img" />
                                                </div>
                                            </div>
                                             <!-- Col -->
                                            <!-- Col -->
<!--                                            <div class="col-md-6">-->
<!--                                               <div class="events-thumb relative">-->
<!--                                                    <img src="{% static 'images/events/events-md2.jpg' %}" class="img-fluid b-radius-6" width="768" height="456" alt="events-img" />-->
<!--                                                </div>-->
<!--                                            </div>                                             -->
                                        </div>
                                        <!-- Row -->
										<!-- events-title-wrap -->
                                        <div class="events-title-wrap margin-top-40">
                                            <div class="events-content margin-bottom-35">
                                                <div class="events-title pad-none margin-none">
                                                    <h3 class="margin-bottom-15">Event <span class="theme-color">Gallery</span></h3>
                                                </div>
<!--                                                <p>We have a strong sense of community with parishioners. People and children of all ages here are encouraged to learn about their own faith and the role of the church in our community and worldwide.</p>-->
                                            </div>
                                        </div>
                                        <!-- events-title-wrap -->
                                        <!-- Row -->
                                        <div class="row">
                                             <!-- Col -->
                                            <div class="col-md-4 margin-bottom-30">
                                               <div class="events-thumb relative">
                                                    <img src="{% static 'images/events/event13.jpg' %}" class="img-fluid b-radius-6" width="480" height="285" alt="events-img" />
                                                </div>
                                            </div>
                                            <!-- Col -->
                                            <div class="col-md-4 margin-bottom-30">
                                               <div class="event-thumb relative">
                                                    <img src="{% static 'images/events/event11.jpg' %}" class="img-fluid b-radius-6" width="480" height="285" alt="events-img" />
                                                </div>
                                            </div>
											<!-- Col -->
                                            <div class="col-md-4 margin-bottom-30">
                                               <div class="event-thumb relative">
                                                    <img src="{% static 'images/events/event8.jpg' %}" class="img-fluid b-radius-6" width="480" height="285" alt="events-img" />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Row -->
										<!-- Row -->
                                        <div class="row">
                                             <!-- Col -->
                                            <div class="col-md-4 margin-bottom-30">
                                               <div class="event-thumb relative">
                                                    <img src="{% static 'images/events/event16.jpg' %}" class="img-fluid b-radius-6" width="480" height="285" alt="events-img" />
                                                </div>
                                            </div>
                                            <!-- Col -->
                                            <div class="col-md-4 margin-bottom-30">
                                               <div class="event-thumb relative">
                                                    <img src="{% static 'images/events/event8.jpg' %}" class="img-fluid b-radius-6" width="480" height="285" alt="events-img" />
                                                </div>
                                            </div>
											<!-- Col -->
                                            <div class="col-md-4 margin-bottom-30">
                                               <div class="event-thumb relative">
                                                    <img src="{% static 'images/events/event11.jpg' %}" class="img-fluid b-radius-6" width="480" height="285" alt="events-img" />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Row -->
										<!-- Get a Quote Section -->
										<section id="get-quote-section" class="get-quote-section pad-none">											
											<div class="div-bg-img b-radius-8 pad-top-50 pad-bottom-45" data-bg="images/bg/bg-1.jpg">
												<!-- Row -->						
												<div class="row get-quote-2">
													<!-- Col -->
													<div class="col-md-3">

													</div>
													<!-- Col -->
													<!-- Col -->
													<div class="col-md-9 pe-5">
														<div class="title-wrap mb-0">
															<div class="section-title typo-white mb-0">
																<h2 class="title mb-0">“Pray! And listen to God! You can do this alone, but find somebody to do it with you”</h2>
															</div>																					
														</div>
													</div>
													<!-- Col -->								                           
												</div>
												<!-- Row -->
											</div>											
										</section>
										<!-- Get a Quote Section End -->
                                    </div>
                                     <!-- Col -->
                                    <!-- Sidebar -->
                                     <!-- Col -->
                                    <div class="col-lg-4">
                                        <div class="event-details-wrap">
											<div class="event-info pad-bottom-30">
												<h4>Event Details</h4>
												<p class="event-organizer">
													<span class="event-subtitle"><strong>Organizer : </strong></span>{{events.organizer}}<span class="event-organizer-designation"></span>
												</p>
												<p class="event-start-date">
													<span class="event-subtitle"><strong>Start Date : </strong></span>{{events.start_date}}
												</p>
												<p class="event-end-date">
													<span class="event-subtitle"><strong>End Date : </strong></span>{{events.end_date}}
												</p>
												<p class="event-time">
													<span class="event-subtitle"><strong>Time : </strong></span>{{events.time}}
												</p>
												<!-- <p class="event-cost">
													<span class="event-subtitle"><strong>Cost : </strong></span>{{events.cost}}
												</p> -->
											</div><!-- .event-info -->
											<div class="event-venue pad-bottom-30">
												<h4>Event Venue</h4>
												<p class="event-venue-name">
													<span class="event-subtitle"><strong>Venue : </strong></span>{{events.event_venue}}
												</p>
												<p class="event-address"><span class="event-subtitle"><strong>Address : </strong></span>
													{{events.address}} <a class="zegen-popup-gmaps theme-color" href="https://maps.google.com/maps?q=12%2C+Victoria+Street%2C+Australia&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"><span class="ti-location-pin"></span></a>
												</p>
												<p class="event-email"><span class="event-subtitle"><strong>E-mail : </strong></span>
													{{events.email}}
												</p>
												<p class="event-phone"><span class="event-subtitle"><strong>Phone : </strong></span>
													{{events.phone}}
												</p>
												<p class="event-website">
													<span class="event-subtitle"><strong>Website : </strong></span>
													<a href="https://zozothemes.com/" target="_blank">https://zozothemes.com/</a>
												</p>
											</div>
											<!-- <div class="event-contact-wrap">
												<div class="event-contact-title">
													<h4 class="event-form-title">Event Registration</h4>
												</div>
												 
												<div class="contact-form-wrap">
													
													<form method="post">{% csrf_token %}
														<div class="row">
															<div class="col-md-12">
															
																<div class="form-group">
																	<input id="name" class="form-control" name="name" placeholder="Name" data-bv-field="name" type="text">
																</div>
															</div>
															<div class="col-md-12">
																
																<div class="form-group">
																	<input id="email" class="form-control" name="email" placeholder="Email" data-bv-field="email" type="email">
																</div>
															</div>
															<div class="col-md-12">
																
																<div class="form-group">
																	<input id="phone" class="form-control" name="phone" placeholder="Phone" data-bv-field="phone" type="number">
																</div>
															</div>
															<div class="col-md-12">

																
																<div class="form-group">

																	<select name="services">
																		<option value="Select Event">Select Event</option>
																		<option value="Native Tree Planting Contest">{{event.event_name}}</option>
																	</select>

																</div>
															</div>
															<div class="col-md-12">
																
																<button type="submit" id="contact-submit" class="btn btn-default mt-0 theme-btn">Send Now</button>
															</div>	
														</div>
														<span class="clearfix"></span>
													</form>	
												</div>
												
											</div> -->
											
										</div>
                                    </div>
                                    
                                </div>
                                <!-- Row 2 -->
								<!-- Row 3 -->
                                <div class="row pad-top-35">
									<div class="col-lg-12">
										<!-- Contact Map -->
										<section class="contact-map pad-none">
											<!-- Screan Reader Text -->
											<h2 class="screen-reader-text">Map</h2>
											<!-- Container Fluid -->
											<div class="container-fluid pad-none">
												<!-- Map -->
												<div class="map">
													<div id="site-google-map" class="b-radius-8" style="width:100%;height:400px;" data-map-style="Silver"></div>
												</div>
												<!-- Map -->
											</div>
											<!-- Container Fluid -->
										</section>
										<!-- Contact Map End -->
									</div>
								</div>
                            </div>

                            <!-- Portfolio Single Wrap -->
                        </div>
                    </section>
                    <!-- Portfolios Section End -->
                </div>
            </div>
        </div>
    <!-- .page-wrapper-inner -->
    </div>
    <!--page-wrapper-->


{% endblock content %}