

{% extends "base-two.html" %}
{% load static %}
{% block title %}
 Eucharistic
{% endblock title %}

{% block content %}
                        
<div class="page-title-wrap typo-white">
    <div class="page-title-wrap-inner section-bg-img" data-bg="{% static 'images/img-10.jpg' %}">
        <span class="theme-overlay"></span>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="page-title-inner">
                        <div id="breadcrumb" class="breadcrumb margin-bottom-10">
                            <a href="https://stthomasjalahalli.com" class="theme-color">Home</a>
                            <span class="current">Managining Committee</span>
                        </div>
                        <h1 class="page-title mb-0">Managining Committee</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container ck-content" >
    <div class="content-wrapper pad-none">
        <div class="content-inner">


            

          
            





        </div>
    </div>
</div>


        </div>
       
    </div>
    <!--page-wrapper-->

    {% endblock content %}

