{% extends "base-two.html" %}
{% load static %}
{% block title %}
February
{% endblock title %}
{% block content %}
		<div class="page-title-wrap typo-white">
			<div class="page-title-wrap-inner section-bg-img" data-bg="{% static 'images/img-3.jpg' %}">
				<!-- <span class="theme-overlay"></span> -->
				<div class="container">
					<div class="row text-center">
						<div class="col-md-12">
							<div class="page-title-inner">
								<div id="breadcrumb" class="breadcrumb margin-bottom-10">
									<a href="index.html" class="theme-color">Home</a>
									<span class="current">Calendar</span>
								</div>
								<h1 class="page-title mb-0">St. THOMAS FORANE CHURCH</h1>
								<h6>P.B. No. 1321, 5th Cross, Sharadambanagar, M.E.S. Road, Jalahalli P.O., Bengaluru- 560013 Ph.: 080 28383175</h6>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



<div id="calender-month">

<h1 id="calender-head">February 2024</h1>
<p>Holidays and Daily Observances in the United States</p>
<ul id="date-lst">
	<ul>
		<li style="text-align: center; color: red; font-size: 20px;">SUNDAY</li>
		<li id="date-calender"><time datetime="2022-02-01"></time></li>
	</ul>
	<ul>
		<li style="text-align: center; color: blue; font-size: 20px;">MONDAY</li>
		<li id="date-calender"><time datetime="2022-02-02"></time></li>
	</ul>
	<ul>
		<li style="text-align: center; color: blue; font-size: 20px;">TUESDAY</li>
		<li id="date-calender"><time datetime="2022-02-03"></time></li>
	</ul>
	<ul>
		<li style="text-align: center; color: blue; font-size: 20px;">WEDNESDAY</li>
		<li id="date-calender"><time datetime="2022-02-04"></time></li>
	</ul>
	<ul>
		<li style="text-align: center; color: blue; font-size: 20px;">THURSDAY</li>
		<li id="date-calender">Gal 3:15-20, Jn 11:17-27<br><br><time datetime="2022-02-05">1</time></li>
	</ul>
	<ul>
		<li style="text-align: center; color: blue; font-size: 20px;">FRIDAY</li>
		<li id="date-calender">2 Cor 6:1-13, Jn 15:1-8<br><br><time datetime="2022-02-06">2</time></li>
	</ul>
	<ul>
		<li style="text-align: center; color: green; font-size: 20px;">SATURDAY</li>
		<li id="date-calender">1 Cor 9:19-23, Jn 15:18-25<br><br><time datetime="2022-02-07">3</time></li>
	</ul>
	<li id="date-calender" style="color: red;"><br><br><time datetime="2022-02-08">4</time>Lev 4:13-21, Dan 9:1-9,<br>Lev 4:13-21, Dan 9:1-9,</li>
	<li id="date-calender"><br><br><time datetime="2022-02-09">5</time>Col 2:16-19, Mt 12:1-8</li>
	<li id="date-calender"><br><br><time datetime="2022-02-10">6</time>Acts 5:12-20, Mt 12:9-14</li>
	<li id="date-calender"><br><br><time datetime="2022-02-11">7</time>Gal 3:7-14, Jn 5:1-18</li>
	<li id="date-calender"><br><br></be><time datetime="2022-02-12">8</time>Rom 2:25-29, Mt 12:15-21</li>
	<li id="date-calender"><br><br><time datetime="2022-02-13">9</time>Rev 20:11-15, Jn 5:19-29</li>
	<li id="date-calender">Bank Holiday<br><br><time datetime="2022-02-14">10</time>Rev 12:1-6, Jn 2:1-11</li>
	<li id="date-calender" style="color: red;">Our Lady of Lourdes<br><br><time datetime="2022-02-15">11</time>Ex 24:12-18, Sir 2:1-11,<br>Heb 2:10-18, Lk 4:1-13</li>
	<li id="date-calender">Rom 12:1-8, Mt 21:28-32<br><br><time datetime="2022-02-16">12</time></li>
	<li id="date-calender">Acts 8:14-25, Mk 9:14-29<br><br><time datetime="2022-02-17">13</time></li>
	<li id="date-calender" style="color: blue;">Ash Monday<br><br><time datetime="2022-02-18">14</time>Jas 4:1-10, Mt 18:1-10</li>
	<li id="date-calender"><br><br><time datetime="2022-02-19">15</time>1 Thess 2:17-3:5, Lk 22:24-30</li>
	<li id="date-calender"><br><br><time datetime="2022-02-20">16</time>Jas 1:12-18, Lk 22:39-46</li>
	<li id="date-calender"><br><br><time datetime="2022-02-21">17</time>2 Cor 2:5-11, Lk 15:11-24</li>
	<li id="date-calender" style="color: red;"><br><br><time datetime="2022-02-22">18</time>Gen 13:1-13, Sir 31:1-11,<br>Gen 13:1-13, Sir 31:1-11,</li>
	<li id="date-calender"><br><br><time datetime="2022-02-23">19</time>Jas 2:1-9, Lk 16:19-31</li>
	<li id="date-calender"><br><br><time datetime="2022-02-24">20</time>Jas 5:1-6, Lk 18:18-30</li>
	<li id="date-calender"><br><br><time datetime="2022-02-25">21</time>1 Tim 6:17-21, Lk 12:13-21</li>
	<li id="date-calender"><br><br><time datetime="2022-02-26">22</time>Rom 8:1-6, Mt 6:19-24</li>
	<li id="date-calender"><br><br><time datetime="2022-02-27">23</time>2 Cor 6:3-10, Lk 11:43-52</li>
	<li id="date-calender">Bank Holiday<br><br><time datetime="2022-02-28">24</time>2 Cor 4:7-15, Mt 10:16-25</li>
	<li id="date-calender" style="color: red;"><br><br><time datetime="2022-02-28">25</time>Deut 15:7-15, Tob 12:6-15,<br>2 Cor 8:9-15, Mt 6:1-8 ;16-18</li>
	<li id="date-calender"><br><br><time datetime="2022-02-28">26</time>Phil 4:10-20, Mk 9:33-41</li>
	<li id="date-calender"><br><br><time datetime="2022-02-28">27</time>2 Cor 9:1-5, Mk 12:38-44</li>
	<li id="date-calender"><br><br><time datetime="2022-02-28">28</time>2 Cor 9:6-10, Lk 6:32-38</li>
	<li id="date-calender"><br><br><time datetime="2022-02-28">29</time>Jas 2:10-17, Mt 7:21-28</li>
</ul>
<div class="row pad-top-60">
	<div class="custom-post-nav">
		<div class="prev-nav-link">											
			<a class="btn btn-default prev" href="january"><i class="ti-angle-double-left"></i><h4 class="mb-0 ms-2">Prev</h4></a>
		</div>
		<div class="next-nav-link">											
			<a class="btn btn-default next" href="march"><h4 class="mb-0 me-2">Next</h4><i class="ti-angle-double-right"></i></a>
		</div>
	</div>
</div>
</div>
<!-- partial -->
  
{% endblock content %}