
{% extends "base-two.html" %}
{% load static %}
{% block title %}
 January
{% endblock title %}

{% block content %}
	
	<div class="page-title-wrap typo-white">
			<div class="page-title-wrap-inner section-bg-img" data-bg="{% static 'images/img2.jpg' %}">
				<!-- <span class="theme-overlay"></span> -->
				<div class="container">
					<div class="row text-center">
						<div class="col-md-12">
							<div class="page-title-inner">
								<div id="breadcrumb" class="breadcrumb margin-bottom-10">
									<a href="index.html" class="theme-color">Home</a>
									<span class="current">Calendar</span>
								</div>
								<h1 class="page-title mb-0">St. THOMAS FORANE CHURCH</h1>
								<h6>P.B. No. 1321, 5th Cross, Sharadambanagar, M.E.S. Road, Jalahalli P.O., Bengaluru- 560013 Ph.: 080 28383175</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



		
		<div id="calender-month">
			<h1 id="calender-head">January 2024</h1>
				<p>Holidays and Scheduled Events</a>
					<ul id="date-lst" class="days"> 
						<ul>
							<li style="text-align: center; color: red; font-size: 20px;">SUNDAY</li>
							<li id="date-calender"><time datetime="2022-02-01"></time></li>
						</ul>
						<ul>
							<li style="text-align: center; color:blue; font-size: 20px;">MONDAY</li>
							<li id="date-calender" >Holy Name of Jesus<br>New Year Day<time datetime="2022-02-02">1</time>Ex 23:14-17, Isa 52:7-12,<br>Eph 4:17-24, Mt 6:25-34</li>
						</ul>
						<ul>
							<li style="text-align: center; color:blue; font-size: 20px;">TUESDAY</li>
							<li id="date-calender"><br><br><time datetime="2022-02-03">2</time>Heb 3:1-6, Jn 1:19-28</li>
						</ul>
						<ul>
							<li style="text-align: center; color:blue; font-size: 20px;">WEDNESDAY</li>
							<li id="date-calender">St. Kuriakose Elias Chavara<time datetime="2022-02-04">3</time>1Pet 4:12-19, Mt 5:1-12</li>
						</ul>
						<ul>
							<li style="text-align: center; color:blue; font-size: 20px;">THURSDAY</li>
							<li id="date-calender"><br><br><time datetime="2022-02-05">4</time>Rom 3:21-26, Lk 3:1-9</li>
						</ul>
						<ul>
							<li style="text-align: center; color:blue; font-size: 20px;">FRIDAY</li>
							<li id="date-calender"><br><br><time datetime="2022-02-06">5</time>Rom 16: 17-20, 25-27, Lk 1: 39-45</li>
						</ul>
						<ul>
							<li style="text-align: center; color:green; font-size: 20px;">SATURDAY</li>
							<li id="date-calender">Epiphany<br><br><time datetime="2022-02-07">6</time>2 Tim 1:6-10, Mk 1:1-11</li>
						</ul>
						<li id="date-calender" style="color: red;"><br><br><time datetime="2022-02-08">7</time>Ex 33:18-23, Zeph 3:14-20<br>2 Pet 1:16-21, Jn 1:45-51</li>
						<li id="date-calender"><br><br><time datetime="2022-02-09">8</time>2 Cor 12:1-10, Mt 4:1-11</li>
						<li id="date-calender"><br><br><time datetime="2022-02-10">9</time>Rom 1:13-17, Lk 4:14-22</li>
						<li id="date-calender"><br><br><time datetime="2022-02-11">10</time>2 Tim 3:10-17, Lk 4:23-30</li>
						<li id="date-calender"><br><br><time datetime="2022-02-12">11</time>Phil 1:12-18, Jn 3: 22-30</li>
						<li id="date-calender"><br><br><time datetime="2022-02-13">12</time>Acts 12:1-11, Mt 14:1-12</li>
						<li id="date-calender">Bank Holiday<br><br><time datetime="2022-02-14">13</time>Rom 9: 30-33, Jn 10: 31-39</li>
						<li id="date-calender" style="color: red;">Infant Jesus<br><br><time datetime="2022-02-15">14</time>Ex 3:9-16, Sir 18:1-14,<br>Rev 1:4-8, Jn 8:21-30</li>
						<li id="date-calender" style="color: red;">Makara Sankranti<br><br><time datetime="2022-02-16">15</time>Eph 1:15-23, Jn 3:31-36 </li>
						<li id="date-calender"><br><br><time datetime="2022-02-17">16</time>1 Jn 3:1-10, Mk 1:21-28</li>
						<li id="date-calender"><br><br><time datetime="2022-02-18">17</time>Rev 19:5-10, Jn 2:1-12</li>
						<li id="date-calender"><br><br><time datetime="2022-02-19">18</time>Eph 4:1-6, Jn 17:6-11</li>
						<li id="date-calender"><br><br><time datetime="2022-02-20">19</time>Gal 1:11-24, Jn 21:15-19</li>
						<li id="date-calender">St Sebastian<br><br><time datetime="2022-02-21">20</time>2 Tim 2:1-5, Mt 10:24-33 </li>
						<li id="date-calender" style="color: red;"><br><br><time datetime="2022-02-22">21</time>Deut 31:1-8, Isa 41:8-16, Phil 3:4-16</li>
						<li id="date-calender"><br><br><time datetime="2022-02-23">22</time>Jud 1:20-25, Mt 9:9-13</li>
						<li id="date-calender"><br><br><time datetime="2022-02-24">23</time>Jas 5:13-20, Jn 1:29-34</li>
						<li id="date-calender"><br><br><time datetime="2022-02-25">24</time>Eph 3:8-13, Jn 15:9-17</li>
						<li id="date-calender"><br><br><time datetime="2022-02-26">25</time>1 Cor 15:1-10, Mt 20:1-16</li>
						<li id="date-calender" style="color: red;">Republic Day<br><br><time datetime="2022-02-27">26</time>1 Tim 6:11-16, Mt 16:24-27</li>
						<li id="date-calender">Bank Holiday<br><br><time datetime="2022-02-28">27</time>1 Cor 1:18-25, Mt 5:13-16</li>
						<li id="date-calender" style="color: red;"><br><br><time datetime="2022-02-28">28</time>Heb 6:1-12, Jn 4:1-26</li>
						<li id="date-calender"><br><br><time datetime="2022-02-28">29</time>2 Cor 5:17-21, Jn 4:27-30, 39-42</li>
						<li id="date-calender"><br><br><time datetime="2022-02-28">30</time>Eph 2:14-22, Jn 14:27-31</li>
						<li id="date-calender"><br><br><time datetime="2022-02-28">31</time>Phil 4:4-9, Mt 18:1-5</li>
					</ul>
				</p>
			</div>	
			<div class="row pad-top-60">
				<div class="custom-post-nav">
					
					<div class="next-nav-link">											
						<a class="btn btn-default next" href="february"><h4 class="mb-0 me-2">Next</h4><i class="ti-angle-double-right"></i></a>
					</div>
				</div>
			</div>
		</div>

	</div>
	

	{% endblock content %}
<!-- partial -->
