{% extends "base-two.html" %}
{% load static %}
{% block title %}
 June
{% endblock title %}

{% block content %}
	
		<div class="page-title-wrap typo-white">
			<div class="page-title-wrap-inner section-bg-img" data-bg="{% static 'images/img-7.jpg' %}">
				<!-- <span class="theme-overlay"></span> -->
				<div class="container">
					<div class="row text-center">
						<div class="col-md-12">
							<div class="page-title-inner">
								<div id="breadcrumb" class="breadcrumb margin-bottom-10">
									<a href="index.html" class="theme-color">Home</a>
									<span class="current">Calendar</span>
								</div>
								<h1 class="page-title mb-0">St. THOMAS FORANE CHURCH</h1>
								<h6>P.B. No. 1321, 5th Cross, Sharadambanagar, M.E.S. Road, Jalahalli P.O., Bengaluru- 560013 Ph.: 080 28383175</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



<div id="calender-month">
<!-- partial:index.partial.html -->
<!-- days sourced from: https://nationaldaycalendar.com/february/ -->
<h1 id="calender-head">June 2024</h1>
<p>Holidays and Scheduled Events</a>
	<ul id="date-lst">
		<ul>
			<li style="text-align: center; color: rgb(255, 17, 0); font-size: 20px;">SUNDAY</li>
			<li id="date-calender" style="color: red;"><br><br><time datetime="2022-02-01">30</time>Num 11:16-18, 24-30, 1 Sam 16:14-23<br>Gal 5:16-26, Jn 14:15-20, 25-26</li>
		</ul>
		<ul>
			<li style="text-align: center; color: blue; font-size: 20px;">MONDAY</li>	
			<li id="date-calender"><time datetime="2022-02-02"></time></li>
		</ul>
		<ul>
			<li style="text-align: center; color: blue; font-size: 20px;">TUESDAY</li>
			<li id="date-calender"><time datetime="2022-02-03"></time></li>
		</ul>
		<ul>
			<li style="text-align: center; color: blue; font-size: 20px;">WEDNESDAY</li>
			<li id="date-calender"><time datetime="2022-02-04"></time></li>
		</ul>
		<ul>
			<li style="text-align: center; color: blue; font-size: 20px;">THURSDAY</li>
			<li id="date-calender"><time datetime="2022-02-05"></time></li>
		</ul>
		<ul>
			<li style="text-align: center; color: blue; font-size: 20px;">FRIDAY</li>
			<li id="date-calender"><time datetime="2022-02-06"></time></li>
		</ul>
		<ul>
			<li style="text-align: center; color: green; font-size: 20px;">SATURDAY</li>
			<li id="date-calender"><br><br><time datetime="2022-02-07">1</time>1 Cor 1:18-25,Lk 12:2-</li>
		</ul>
			<li id="date-calender" style="color: red;"><br><br><time datetime="2022-02-08">2</time>Ex 23:20-26, Jon 4:1-11,<br>Rom 15:14-21, Lk 9:1-6</li>
			<li id="date-calender"><br><br><time datetime="2022-02-09">3</time>Rom 1:1-7, Lk 4:14-22</li>
			<li id="date-calender">Holy Trinity<br><br><time datetime="2022-02-10">4</time>Acts 19:11-20, Mt 17:14-21</li>
			<li id="date-calender"><br><br><time datetime="2022-02-11">5</time>Rev 3:14-22, Jn 9:1-11</li>
			<li id="date-calender"><br><br><time datetime="2022-02-12">6</time>Col 2:8-17, Mk 3:1-12</li>
			<li id="date-calender"><br><br><time datetime="2022-02-13">7</time>Heb 10:19-24, Jn 19:31-37</li>
			<li id="date-calender">St. Mariam Thresia<br>Bank Holiday<time datetime="2022-02-14">8</time>Rom 5:1-5, Mt 5:13-20</li>
			<li id="date-calender" style="color: red;"><br><br><time datetime="2022-02-15">9</time>Ex 20:1-17, Ezek 3:1-11,<br>Rom 10:5-15, Jn 6:60-69</li>
			<li id="date-calender"><br><br><time datetime="2022-02-16">10</time>2 Tim 3:10-17, Mk 4:10-20</li>
			<li id="date-calender"><br><br><time datetime="2022-02-17">11</time>Gal 2:1-10, Mt 10: 16-22</li>
			<li id="date-calender"><br><br><time datetime="2022-02-18">12</time>Eph 6: 10-20, Jn 14: 21-24</li>
			<li id="date-calender" style="color: blue;">St. Anthony<br><br><time datetime="2022-02-19">13</time>1 Cor 2:1-10, Lk 10: 1-9 40</li>
			<li id="date-calender"><br><br><time datetime="2022-02-20">14</time>Jas 1:19-27, Lk 6:46-49</li>
			<li id="date-calender"><br><br><time datetime="2022-02-21">15</time>Rev 3:7-13, Jn 5:19-24</li>
			<li id="date-calender" style="color: red;">Sacred Heart of Jesus<br><br><time datetime="2022-02-22">16</time>Ex 7:1-6, Jer 11:18-23,<br>2 Cor 4:7-18, Mt 10:16-33</li>
			<li id="date-calender" style="color: red;">Immaculate Heart of Mary<br>Bakrid<br><time datetime="2022-02-23">17</time>1 Pet 2:18-25, Jn 15:18-27</li>
			<li id="date-calender"><br><br><time datetime="2022-02-24">18</time>2 Thess 1:3-10, Jn 16:1-7 </li>
			<li id="date-calender"><br><br><time datetime="2022-02-25">19</time>1 Pet 3:13-19, Jn 12:20-28</li>
			<li id="date-calender"><br><br><time datetime="2022-02-26">20</time>2 Cor 10:1-6, Lk 13:31-35</li>
			<li id="date-calender"><br><br><time datetime="2022-02-27">21</time>Phil 1:27-30, Lk 12:4-12</li>
			<li id="date-calender">Bank Holiday<br><br><time datetime="2022-02-28">22</time>1 Pet 4:12-19, Mt 10:16-22</li>
			<li id="date-calender" style="color: red;"><br><br><time datetime="2022-02-28">23</time>Lev 8:1-13, Isa 6:1-8,<br>1 Cor 1:26-31, Mt 9:27-38</li>
			<li id="date-calender"><br><br><time datetime="2022-02-28">24</time>Gal 4:1-7, Lk 1:57-66</li>
			<li id="date-calender"><br><br><time datetime="2022-02-28">25</time>2 Thess 2:13-17, Jn 17:9-19</li>
			<li id="date-calender"><br><br><time datetime="2022-02-28">26</time>2 Cor 3:4-11, Lk 1:26-38</li>
			<li id="date-calender"><br><br><time datetime="2022-02-28">27</time>Eph 3:14-21, Jn 17:20-26</li>
			<li id="date-calender"><br><br><time datetime="2022-02-28">28</time>2 Tim 3:14-17, Jn 14:26-30</li>
			<li id="date-calender">Sts. Paul and Peter<br><br><time datetime="2022-02-28">29</time>2 Cor 11:21b-33, Jn 21:15-19</li>
			
</ul>
<div class="row pad-top-60">
	<div class="custom-post-nav">
		<div class="prev-nav-link">											
			<a class="btn btn-default prev" href="may"><i class="ti-angle-double-left"></i><h4 class="mb-0 ms-2">Prev</h4></a>
		</div>
		<div class="next-nav-link">											
			<a class="btn btn-default next" href="july"><h4 class="mb-0 me-2">Next</h4><i class="ti-angle-double-right"></i></a>
		</div>
	</div>
</div>
</div>
<!-- partial -->
  
{% endblock content %}