{% extends "base-two.html" %}
{% load static %}
{% block title %}
 May
{% endblock title %}

{% block content %}
		<div class="page-title-wrap typo-white">
			<div class="page-title-wrap-inner section-bg-img" data-bg="{% static 'images/img-6.jpg' %}">
				<!-- <span class="theme-overlay"></span> -->
				<div class="container">
					<div class="row text-center">
						<div class="col-md-12">
							<div class="page-title-inner">
								<div id="breadcrumb" class="breadcrumb margin-bottom-10">
									<a href="index.html" class="theme-color">Home</a>
									<span class="current">Calendar</span>
								</div>
								<h1 class="page-title mb-0">St. THOMAS FORANE CHURCH</h1>
								<h6>P.B. No. 1321, 5th Cross, Sharadambanagar, M.E.S. Road, Jalahalli P.O., Bengaluru- 560013 Ph.: 080 28383175</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



<div id="calender-month">
<!-- partial:index.partial.html -->
<!-- days sourced from: https://nationaldaycalendar.com/february/ -->
<h1 id="calender-head">May 2024</h1>
<p>Holidays and Scheduled Events</a>
	<ul id="date-lst">
		<ul>
			<li style="text-align: center; color: red; font-size: 20px;">SUNDAY</li>
			<li id="date-calender"><time datetime="2022-02-01"></time></li>
		</ul>
		<ul>
			<li style="text-align: center; color: blue; font-size: 20px;">MONDAY</li>
			<li id="date-calender"><time datetime="2022-02-02"></time></li>
		</ul>
		<ul>
			<li style="text-align: center; color: blue; font-size: 20px;">TUESDAY</li>
			<li id="date-calender"><time datetime="2022-02-03"></time></li>
		</ul>
		<ul>
			<li style="text-align: center; color: blue; font-size: 20px;">WEDNESDAY</li>
			<li id="date-calender">St. Joseph Worker<br>May Day<time datetime="2022-02-04">1</time>Col 3:14-17, Mt 13:53-58</li>
		</ul>
		<ul>
			<li style="text-align: center; color: blue; font-size: 20px;">THURSDAY</li>
			<li id="date-calender"><br><br><time datetime="2022-02-05">2</time>2 Cor 4: 5-14, Mt 10:23-28</li>
		</ul>
		<ul>
			<li style="text-align: center; color: blue; font-size: 20px;">FRIDAY</li>
			<li id="date-calender"><br><br><time datetime="2022-02-06">3</time>1 Cor 9: 16-23, Jn 14:1-6</li>
		</ul>
		<ul>
			<li style="text-align: center; color: GREEN; font-size: 20px;">SATURDAY</li>
			<li id="date-calender"><br><br><time datetime="2022-02-07">4</time>Rom 11:11-16, Lk 7:1-10</li>
		</ul>
			<li id="date-calender" style="color: red;"><br><br><time datetime="2022-02-08">5</time>Gen 9:8-17, 2 Kgs 2:1-15,<br>Rom 8:1-11, Jn 5:19-29</li>
			<li id="date-calender"><br><br><time datetime="2022-02-09">6</time>1 Jn 2:14-17, Mk 10:13-16</li>
			<li id="date-calender"><br><br><time datetime="2022-02-10">7</time>Rom 6:19-23, Jn 5:36-47</li>
			<li id="date-calender"><br><br><time datetime="2022-02-11">8</time>Acts 20:7-12 , Mk 5:21-24, 35-43</li>
			<li id="date-calender"><br><br><time datetime="2022-02-12">9</time>Heb 10:1-14, Mk 16:9-20</li>
			<li id="date-calender"><br><br><time datetime="2022-02-13">10</time>Rev 5:1-14 A, Jn 1:35-39</li>
			<li id="date-calender">Bank Holiday<br><br><time datetime="2022-02-14">11</time>Heb 8:1-6, Jn 17:9-19</li>
			<li id="date-calender" style="color: red;"><br><br><time datetime="2022-02-15">12</time>Gen 28:10-19 , Mic 4:1-5,<br>1 Pet 1:3-9, Lk 24:44-53</li>
			<li id="date-calender"><br><br><time datetime="2022-02-16">13</time>1 Tim 2:1-7, Lk 18:1-8</li>
			<li id="date-calender"><br><br><time datetime="2022-02-17">14</time>1 Cor 1: 26-30, Mt 11: 25-30 </li>
			<li id="date-calender"><br><br><time datetime="2022-02-18">15</time>Rom 11:25-32, Mt 18:10-14</li>
			<li id="date-calender"><br><br><time datetime="2022-02-19">16</time>Acts 10:44-49, Mt 7:7-14</li>
			<li id="date-calender"><br><br><time datetime="2022-02-20">17</time>Eph 6:14-20, Jn 4:19-24</li>
			<li id="date-calender" style="color: blue;">Ascension of the Lord<br><br><time datetime="2022-02-21">18</time>2 Cor 1:17–22, Lk 11:5-13</li>
			<li id="date-calender" style="color: red;"><br><br><time datetime="2022-02-22">19</time>Gen 2:1-8, Job 33:2-4, 34:14-15,<br>Acts 2:1-21, Jn 20:19-23</li>
			<li id="date-calender"><br><br><time datetime="2022-02-23">20</time>Gal 3:10-14, Jn 16:5-15 </li>
			<li id="date-calender"><br><br><time datetime="2022-02-24">21</time>1 Cor 12:4-11, 28-31, Lk 19:11-27</li>
			<li id="date-calender"><br><br><time datetime="2022-02-25">22</time>Rom 12:3-13, Lk 1:39-45</li>
			<li id="date-calender"><br><br><time datetime="2022-02-26">23</time>Rom 15:7-13, Lk 10:17-22</li>
			<li id="date-calender"><br><br><time datetime="2022-02-27">24</time>Acts 3:1-10, Jn 16:19-24</li>
			<li id="date-calender">Bank Holiday<br><br><time datetime="2022-02-28">25</time>Rom 14:1-9, Mk 13:9-13</li>
			<li id="date-calender" style="color: red;"><br><br><time datetime="2022-02-28">26</time>Ex 19:1-8, Ezek 2:1-7,</li>
			<li id="date-calender"><br><br><time datetime="2022-02-28">27</time>Rom 8:31-39, Mk 3:13-19</li>
			<li id="date-calender" style="color: blue;">Pentacost<br><br><time datetime="2022-02-28">28</time>Rev 18:1-8, Mk 8:34-38</li>
			<li id="date-calender"><br><br><time datetime="2022-02-28">29</time>Heb 10:11-18, Lk 14:25-35</li>
			<li id="date-calender"><br><br><time datetime="2022-02-28">30</time>1 Cor 11:23-30, Mt 26:17-29</li>
			<li id="date-calender"><br><br><time datetime="2022-02-28">31</time>Rom 12:9-16, Lk 1:39-45	</li>
</ul>
<div class="row pad-top-60">
	<div class="custom-post-nav">
		<div class="prev-nav-link">											
			<a class="btn btn-default prev" href="april"><i class="ti-angle-double-left"></i><h4 class="mb-0 ms-2">Prev</h4></a>
		</div>
		<div class="next-nav-link">											
			<a class="btn btn-default next" href="june"><h4 class="mb-0 me-2">Next</h4><i class="ti-angle-double-right"></i></a>
		</div>
	</div>
</div>
</div>
<!-- partial -->
  
{% endblock content %}
