{% extends "base-two.html" %}
{% load static %}
{% block title %}
October
{% endblock title %}

{% block content %}
		<div class="page-title-wrap typo-white">
			<div class="page-title-wrap-inner section-bg-img" data-bg="{% static 'images/img-3.jpg' %}">
				<!-- <span class="theme-overlay"></span> -->
				<div class="container">
					<div class="row text-center">
						<div class="col-md-12">
							<div class="page-title-inner">
								<div id="breadcrumb" class="breadcrumb margin-bottom-10">
									<a href="index.html" class="theme-color">Home</a>
									<span class="current">Calendar</span>
								</div>
								<h1 class="page-title mb-0">St. THOMAS FORANE CHURCH</h1>
								<h6>P.B. No. 1321, 5th Cross, Sharadambanagar, M.E.S. Road, Jalahalli P.O., Bengaluru- 560013 Ph.: 080 28383175</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



<div id="calender-month">
<!-- partial:index.partial.html -->
<!-- days sourced from: https://nationaldaycalendar.com/february/ -->
<h1 id="calender-head">October 2024</h1>
<p>Holidays and Scheduled Events</a>
	<ul id="date-lst">
		<ul>
			<li style="text-align: center; color: red; font-size: 20px;">SUNDAY</li>
			<li id="date-calender"><br><br><time datetime="2022-02-01"></time></li>
		</ul>
		<ul>
			<li style="text-align: center; color: blue; font-size: 20px;">MONDAY</li>
			<li id="date-calender"><br><br><time datetime="2022-02-02"></time></li>
		</ul>
		<ul>
			<li style="text-align: center; color: blue; font-size: 20px;">TUESDAY</li>
			<li id="date-calender"><br><br><time datetime="2022-02-03">1</time>St. Little Flower</li>
		</ul>
		<ul>
			<li style="text-align: center; color: blue; font-size: 20px;">WEDNESDAY</li>
			<li id="date-calender" style="color:red">Mahalaya Amavasya<br>Gandhi Jayanti<time datetime="2022-02-04">2</time>Acts 12:6-11, Mt 18:10-14</li>
		</ul>
		<ul>
			<li style="text-align: center; color: blue; font-size: 20px;">THURSDAY</li>
			<li id="date-calender" ><br><br><time datetime="2022-02-05">3</time>Phil 2:5-11, Jn 17:1-8</li>
		</ul>
		<ul>
			<li style="text-align: center; color: blue; font-size: 20px;">FRIDAY</li>
			<li id="date-calender">St. Francis Assisi<br><br><time datetime="2022-02-06">4</time>Gal 6:14-17, Mt 11:25-30</li>
		</ul>
		<ul>
			<li style="text-align: center; color: green; font-size: 20px;">SATURDAY</li>
			<li id="date-calender"><br><br><time datetime="2022-02-07">5</time>2 Cor 3:12-18, Jn 17:20-26</li>
		</ul>
			<li id="date-calender" style="color:red"><br><br><time datetime="2022-02-08">6</time>Ex 33:12-17, Jer 20:7-13,<br>2 Cor 1:3-7, Mt 11:25-30</li>
			<li id="date-calender">Our Lady of Rosary<br><br><time datetime="2022-02-09">7</time>Jas 5:7-11, Lk 21:5-19</li>
			<li id="date-calender"><br><br><time datetime="2022-02-10">8</time>2 Cor 4:7-18, Lk 6:20-26</li>
			<li id="date-calender"><br><br><time datetime="2022-02-11">9</time>Heb 12:4-13, Mt 14:1-12</li>
			<li id="date-calender"><br><br><time datetime="2022-02-12">10</time>Phil 3:7-16, Jn 11:4-11</li>
			<li id="date-calender" style="color:red">Ayudha Pooja<br><br><time datetime="2022-02-13">11</time>2 Cor 5:1-10, Jn 12:20-26</li>
			<li id="date-calender" style="color:red">Dussehra<br>Bank Holiday<time datetime="2022-02-14">12</time>1 Pet 3:13-17, Jn 15:18-27</li>
			<li id="date-calender" style="color:red"><br><br><time datetime="2022-02-15">13</time>Ex 20:18-21, Joel 2:1-11,<br>Heb 10:19-25, Mt 25:31-46</li>
			<li id="date-calender"><br><br><time datetime="2022-02-16">14</time>1 Cor 15:29-34, Jn 5:24-29</li>
			<li id="date-calender">St. Theresa of Avila<br><br><time datetime="2022-02-17">15</time>Col 2:20-3:4, Jn 14:18-24</li>
			<li id="date-calender">Bl. Thevarparampil Kunjachan<br><br><time datetime="2022-02-18">16</time>1 Pet 4:12-19, Jn 10:1-15 </li>
			<li id="date-calender" style="color:red">Valmiki Jayanti<br><br><time datetime="2022-02-19">17</time>Rom 8:35-39, Jn 12:20-26</li>
			<li id="date-calender"><br><br><time datetime="2022-02-20">18</time>Col 4:10-15, Lk 10:1-9</li>
			<li id="date-calender"><br><br><time datetime="2022-02-21">19</time>2 Pet 3:14-18, Lk 14:15-24</li>
			<li id="date-calender" style="color:red"><br><br><time datetime="2022-02-22">20</time>Gen 19:23-29, Mal 4:1-6,<br> Thess 4:13-18, Lk 21:20-28</li>
			<li id="date-calender"><br><br><time datetime="2022-02-23">21</time>Phil 4:1-9, Lk 21:29-36</li>
			<li id="date-calender"><br><br><time datetime="2022-02-24">22</time>Rev 21: 1-8, Jn 21: 4-14</li>
			<li id="date-calender"><br><br><time datetime="2022-02-25">23</time>Jas 1:12-18, Lk 15:1-10</li>
			<li id="date-calender">St. Anthony Mary Claret<br><br><time datetime="2022-02-26">24</time>Phil 2:12-18, Lk 13:22-30</li>
			<li id="date-calender"><br><br><time datetime="2022-02-27">25</time>Eph 2:1-10, Jn 12:44-50</li>
			<li id="date-calender">Bank Holiday<br><br><time datetime="2022-02-28">26</time>Phil 1:27- 2:4, Lk 9:49-56</li>
			<li id="date-calender" style="color:red"><br><br><time datetime="2022-02-28">27</time>Deut 11:1-7, Wis 6:1-10,<br>1Thess 5:12-24, Mt 12:22-32</li>
			<li id="date-calender"><br><br><time datetime="2022-02-28">28</time>Eph 6:10-17, Jn 15:18-25</li>
			<li id="date-calender"><br><br><time datetime="2022-02-28">29</time>2 Cor 11:12-15, Mt 24:23-28</li>
			<li id="date-calender"><br><br><time datetime="2022-02-28">30</time>2 Pet 2:1-10, Mk 13:1-8, 21-23 </li>
			<li id="date-calender" style="color:red">Diwali<br><br><time datetime="2022-02-28">31</time>Jud 1:8-16, Lk 11:37-44</li>
</ul>
<div class="row pad-top-60">
	<div class="custom-post-nav">
		<div class="prev-nav-link">											
			<a class="btn btn-default prev" href="september"><i class="ti-angle-double-left"></i><h4 class="mb-0 ms-2">Prev</h4></a>
		</div>
		<div class="next-nav-link">											
			<a class="btn btn-default next" href="november"><h4 class="mb-0 me-2">Next</h4><i class="ti-angle-double-right"></i></a>
		</div>
	</div>
</div>
</div>
<!-- partial -->
  
{% endblock content %}