{% extends "base-two.html" %}
{% load static %}
{% block title %}
 September
{% endblock title %}

{% block content %}
		<div class="page-title-wrap typo-white">
			<div class="page-title-wrap-inner section-bg-img" data-bg="{% static 'images/img1.jpg' %}">
				<!-- <span class="theme-overlay"></span> -->
				<div class="container">
					<div class="row text-center">
						<div class="col-md-12">
							<div class="page-title-inner">
								<div id="breadcrumb" class="breadcrumb margin-bottom-10">
									<a href="index.html" class="theme-color">Home</a>
									<span class="current">Calendar</span>
								</div>
								<h1 class="page-title mb-0">St. THOMAS FORANE CHURCH</h1>
								<h6>P.B. No. 1321, 5th Cross, Sharadambanagar, M.E.S. Road, Jalahalli P.O., Bengaluru- 560013 Ph.: 080 28383175</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



<div id="calender-month">
<!-- partial:index.partial.html -->
<!-- days sourced from: https://nationaldaycalendar.com/february/ -->
<h1 id="calender-head">September 2024</h1>
<p>Holidays and Scheduled Events</a>
	<ul id="date-lst">
		<ul>
			<li style="text-align: center; color: red; font-size: 20px;">SUNDAY</li>
			<li id="date-calender" style="color:red">8 Day Lent starts<br><br><time datetime="2022-02-01">1</time>Deut 18:14-22, Sir 48:1-11,<br>Heb 11:23-29, Mt 17:9-13</li>
		</ul>
		<ul>
			<li style="text-align: center; color: blue; font-size: 20px;">MONDAY</li>
			<li id="date-calender"><br><br><time datetime="2022-02-02">2</time>Gal 5:19-26, Lk 3:7-14</li>
		</ul>
		<ul>
			<li style="text-align: center; color: blue; font-size: 20px;">TUESDAY</li>
			<li id="date-calender"><br><br><time datetime="2022-02-03">3</time>Rom 2:1-11, Mt 12:38-42</li>
		</ul>
		<ul>
			<li style="text-align: center; color: blue; font-size: 20px;">WEDNESDAY</li>
			<li id="date-calender"><br><br><time datetime="2022-02-04">4</time>Jas 3:1-12, Mt 12:33-37</li>
		</ul>
		<ul>
			<li style="text-align: center; color: blue; font-size: 20px;">THURSDAY</li>
			<li id="date-calender"><br><br><time datetime="2022-02-05">5</time>Jas 2:14-17, Mt 25:31-40</li>
		</ul>
		<ul>
			<li style="text-align: center; color: blue; font-size: 20px;">FRIDAY</li>
			<li id="date-calender"><br><br><time datetime="2022-02-06">6</time>2 Tim 3:1-9, Mt 24:1-14</li>
		</ul>
		<ul>
			<li style="text-align: center; color: green; font-size: 20px;">SATURDAY</li>
			<li id="date-calender" style="color:red">Ganesh Chaturthi<br><br><time datetime="2022-02-07">7</time>Rev 2:1-7, Lk 13:1-5</li>
		</ul>
			<li id="date-calender" style="color:red">Nativity of BVM<br><br><time datetime="2022-02-08">8</time>Num 24:15-24, Zech 14:1-9,<br>1 Cor 7:29-35, Mt 24:32-44</li>
			<li id="date-calender"><br><br><time datetime="2022-02-09">9</time>1 Tim 6:11-16, Mt 24:45-51</li>
			<li id="date-calender"><br><br><time datetime="2022-02-10">10</time>Rev 3:14-22, Mk 11:12-14</li>
			<li id="date-calender"><br><br><time datetime="2022-02-11">11</time>Rev 22:10-19, Mt 25:1-13</li>
			<li id="date-calender"><br><br><time datetime="2022-02-12">12</time>1 Tim 4:1-11, Mk 13:32-37</li>
			<li id="date-calender"><br><br><time datetime="2022-02-13">13</time>Eph 4:1-7, 11-13, Mk 4:1-9</li>
			<li id="date-calender" style="color:rgb(76, 0, 255)">Exsultation of the Cross<br>Bank Holiday<time datetime="2022-02-14">14</time>1 Cor 1:18-25, Lk 24:13-27</li>
			<li id="date-calender" style="color:red">Onam<br><br><time datetime="2022-02-15">15</time>Num 21:1-9, Zech 10:8-12,<br>Gal 6:11-18, Mt 10:34-42</li>
			<li id="date-calender" style="color:red">Id-e-Milad<br><br><time datetime="2022-02-16">16</time>2 Cor 10:1-6, Lk 18:31-34</li>
			<li id="date-calender"><br><br><time datetime="2022-02-17">17</time>Col 2:6-15, Jn 3:13-21</li>
			<li id="date-calender"><br><br><time datetime="2022-02-18">18</time>Heb 12:1-3, Lk 24:13-35</li>
			<li id="date-calender"><br><br><time datetime="2022-02-19">19</time>Eph 2:11-22, Jn 11:45-57</li>
			<li id="date-calender"><br><br><time datetime="2022-02-20">20</time>Acts 4:1-12, Lk 20:9-19</li>
			<li id="date-calender"><br><br><time datetime="2022-02-21">21</time>Heb 11:23-26, Mt 9:9-13</li>
			<li id="date-calender"style="color:red"><br><br><time datetime="2022-02-22">22</time>Gen 9:8-17, Dan 7:9-14,<br>1 Cor 1:18-25, Mt 24:29-36</li>
			<li id="date-calender" ><br><br><time datetime="2022-02-23">23</time>1 Cor 10:1-13, Mt 24:15-28</li>
			<li id="date-calender"><br><br><time datetime="2022-02-24">24</time>1 Jn 2:18-29, Jn 7:25-31, 40-43</li>
			<li id="date-calender"><br><br><time datetime="2022-02-25">25</time>Rev 19:11-15, Lk 12:54-59</li>
			<li id="date-calender"><br><br><time datetime="2022-02-26">26</time>1 Cor 5:9-13, 6:9-11, Lk 17:20-25</li>
			<li id="date-calender">St Vincent De Paul<br><br><time datetime="2022-02-27">27</time>1 Cor 1:26-31, Mt 9:35-38</li>
			<li id="date-calender">Bank Holiday<br><br><time datetime="2022-02-28">28</time>Rev 12:7-12, Jn 1:43-51</li>
			<li id="date-calender" style="color:red"><br><br><time datetime="2022-02-28">29</time>Gen 41:37-45, Sir 47:2-3, 8-11,<br>Heb 1:1-4, Jn 12:27-36</li>
			<li id="date-calender"><br><br><time datetime="2022-02-28">30</time>2 Tim 3:12-17, Mt 13:44-52</li>
	
</ul>
<div class="row pad-top-60">
	<div class="custom-post-nav">
		<div class="prev-nav-link">											
			<a class="btn btn-default prev" href="auguest"><i class="ti-angle-double-left"></i><h4 class="mb-0 ms-2">Prev</h4></a>
		</div>
		<div class="next-nav-link">											
			<a class="btn btn-default next" href="october"><h4 class="mb-0 me-2">Next</h4><i class="ti-angle-double-right"></i></a>
		</div>
	</div>
</div>
</div>
<!-- partial -->
  
{% endblock content %}